.wrapper {
    overflow-x: hidden;
    padding: 0 10px;
}

.content {
    margin: 10px 10px 0 0;
    position: relative;
    overflow: hidden;

    .box-content {
        padding: 10px;

        h2 {
            margin-bottom: 20px;
        }

        a.tel {
            font-size: 28px;
            font-weight: bold;
            text-decoration: none;
        }

        span.tel-costs {
            font-size: 12px;
            display: block;
            margin: 0;
        }

        a.big-red {
            font-size: 28px;
            color: $red;
            font-weight: bold;
        }
    }

    .triangle-bottomright {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 0;
        height: 0;
        border-bottom: 35px solid $white;
        border-left: 35px solid transparent;
        z-index: 999;
    }

    a.linktxt {
        color: $red;
        display: block;

        &:hover {
            text-decoration: none;
        }

        &::after {
            content: "\f105";
            font-family: FontAwesome;
            padding-left: 5px;
        }
    }
}
//fix for last in row margin problem

.last-in-row {
    margin: 10px 0 0;
    @media screen and (min-width: 768px) and (max-width: 992px) {
        margin-right: 10px;
    }
}

.box-rollup {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;

    .box-content {
        position: absolute;
        bottom: -70px;
        height: 150px;
        width: 100%;
        -webkit-transition: bottom 0.5s ease;
        -moz-transition: bottom 0.5s ease;
        -o-transition: bottom 0.5s ease;
        transition: bottom 0.5s ease;

        * {
            color: $gray-dark;
        }
    }

    &:hover {
        background: rgba(0,0,0,0.5);
        -webkit-transition: background-color 0.5s ease;
        -moz-transition: background-color 0.5s ease;
        -o-transition: background-color 0.5s ease;
        transition: background-color 0.5s ease;
        .box-content {
            height: auto;
            position: absolute;
            bottom: 0;
            width: 100%;

            * {
                color: #fff;
                text-decoration: none;
            }
        }
    }
}

.square-image {
    width: 100%;
}

.headerbox {
    display: block;
    @include has-gradient-top;

    h3 {
        position: absolute;
        top: 0;
        margin-left: 10px;
        margin-top: 10px;
        z-index: 2
    }

    img {
        position: relative;
        z-index: 1;
        display: block;
        width: auto;
    }

    .triangle-bottomright {}
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    border: none;
    padding: 4px 0;
}

.fahrplan {
    overflow: visible;
}

.bottom {
    position: absolute;
    bottom: 35px;
    display: block;
    @media screen and (max-width: 768px) {
        position: relative;
        margin: 10px 0;
        bottom: 0;
    }
}

a.box-link {
    cursor: pointer;
}

.box-content {
    padding-bottom: 35px !important;

    .pub-img {
        width: 145px;
        height: 205px;
        float: left;
    }

    .pub-text {
        margin-left: 155px;
    }
}

.pickgradient {
    display: inline-block;
    background: rgba(255,255,255,0);
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 80%, rgba(255,255,255,0.65) 93%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(80%, rgba(255,255,255,0)), color-stop(93%, rgba(255,255,255,0.65)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 80%, rgba(255,255,255,0.65) 93%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 80%, rgba(255,255,255,0.65) 93%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 80%, rgba(255,255,255,0.65) 93%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 80%, rgba(255,255,255,0.65) 93%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=  '#ffffff', endColorstr='#ffffff', GradientType=0 );
}

.content-no-bg {
    margin: 20px 0;
    p {
        margin-bottom: 20px;
    }

    ul {
        margin: 0;
        padding-left: 15px;
    }
}
