.wrapper {
    overflow-x: hidden;
    padding: 0 10px;
}

.content {
    margin: 10px 10px 0 0;

    position: relative;
    .box-content{
      padding:10px;
      h2{
        margin-bottom: 20px;
      }

      a.tel{
        font-size: 28px;
        font-weight: bold;
        text-decoration: none;
      }

      span.tel-costs{
        font-size: 12px;
        display: block;
        margin: 0;
      }

      a.big-red{
        font-size: 28px;
        color: $red;
        font-weight: bold;
      }
      label{
        font-weight: normal;
      }
      input, select, label{
        margin-left: -10px;
        margin-right: -10px;

      }

    &> .date, .time, .destination{
        padding-right: 10px;
        .right-inner-addon{
          margin-right: 15px;
        }


      }
      button.btn{
        margin-left: -10px;
      }
    }




    .box-rollup {
        overflow: hidden;
        max-height: 70px;
        @include breakpoint($maxWidth: 991px) {
            overflow: visible;
            max-height: 100%;
        }
    }
}

//fix for last in row margin problem
.last-in-row{
  margin: 10px 0 0 0;
  @media screen and (min-width: 768px) and (max-width: 992px){
    margin-right: 10px
  }
}

.fahrplan{
  padding:0 0 0 0!important;
}

.headerbox {
  h3{
    position: absolute;
    top: 0;
    margin-left: 10px;
    margin-top: 10px;
  }
}

.triangle-bottomright {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 35px solid $white;
    border-left: 35px solid transparent;
    z-index: 999;
}

.box-text a {
    color: unset;
    text-decoration: none;
}

.box-text a::after {
    content: "\f105";
    font-family: FontAwesome;
    padding-left: 5px;
}

.squarebox-content {
    position: absolute;
    width: 370px;
    height: 370px;
    bottom: 0;
    left: 0;
    transition: background 0.5s ease;
    background: rgba(255,255,255,0);
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 80%, rgba(255,255,255,0.65) 93%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(80%, rgba(255,255,255,0)), color-stop(93%, rgba(255,255,255,0.65)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 80%, rgba(255,255,255,0.65) 93%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 80%, rgba(255,255,255,0.65) 93%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 80%, rgba(255,255,255,0.65) 93%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 80%, rgba(255,255,255,0.65) 93%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=  '#ffffff', endColorstr='#ffffff', GradientType=0 );
    overflow: hidden;
    background-repeat: no-repeat;
    @include breakpoint(lg) {
        width: 370px;
        height: 370px;
    }
    @include breakpoint(md) {
        width: 304px;
        height: 304px;
        overflow: hidden;
    }
    @include breakpoint(sm) {
        width: 350px;
        height: 350px;
    }
    @include breakpoint(xs) {
        width: 767px;
        height: 767px;
    }
}

.squarebox-content:hover {
    background: rgba(0, 0, 0, 0.6);
    color: white;
}

.box-text {
    position: absolute;
    bottom: 0;
    @include breakpoint($maxWidth: 991px) {
        height: auto;
    }
}

.box-rollup {
    overflow: hidden;
    max-height: 70px;
    @include breakpoint($maxWidth: 991px) {
        overflow: visible;
        max-height: 100%;
    }
}

.squarebox-content:hover {
    .box-rollup {
        max-height: 200px;
        transition: max-height 1s ease-out;
    }

    .box-text * {
        color: white;
    }

    .box-text a:hover {
        text-decoration: none;
    }
}
/*


.squarebox-content > .box-text h3{
    position: absolute;
    bottom: 0;
}



.squarebox-content:hover{
  .box-text > p {
    bottom: 0;
    -webkit-transition: all 0.7s ease-out;
   -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
     -o-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
  }
}


*/
.instatags {
    min-height: 2em;
    overflow: hidden;
    word-wrap: break-word;
}

.instagramtext {
    background: $gray-dark;
    color: white;
    padding: 10px;
}

.insta-footer {
    margin-top: 10px;
    margin-bottom: 20px;
}

.insta-footer a {
    color: white;
}

.square-image {
    width: 100%;
}
@media screen and (max-width : 768px) {
    .squarebox-content {
        overflow: visible;
    }

    .box-text {
        z-index: 999;
    }
}

.traffic-alerts {
    height: 370px;
    width: 370px;
    overflow: hidden;
    @include breakpoint(lg) {
        width: 370px;
        height: 370px;
    }
    @include breakpoint(md) {
        width: 304px;
        height: 304px;
        overflow: hidden;
    }
    @include breakpoint(sm) {
        width: 350px;
        height: 350px;
    }
    @include breakpoint(xs) {
        width: 767px;
        height: 767px;
    }
}
