.btn {
    border: 0;
    border-radius: 0;
    color: white;
    font-weight: bold;
}

.btn-primary {
    background: $red;
}

.btn-default {
    background: gray;
}

.button-row {
    margin-top: 20px;
}

.fahrplan button {
    margin-top: 20px;
    @include desktop-md {
        margin-top: 10px;
    }
}

.fahrplan button.btn.btn-primary.btn-block {
    margin-bottom: 20px;
}

.btn-group {
  //  margin-right: 5px;
    .btn {
        height: 35px;
        padding: 8px 5px;
        display: inline-block;
    }

    .btn-dark-gray {
        background: $gray;

        &.active {
            background: $gray-dark;
            color: white;
        }
    }
}
