
.carousel-inner-bg{
  background-repeat: no-repeat;
  background-position: right top;
}



.carousel-caption{
  left: 0px!important;
  bottom: 0;
  text-align: left;
  text-shadow: none;
  width: 100%;
  background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}

.carousel-caption > h1 {
  margin-left: 10px;
  margin-bottom: 20px;

  @include breakpoint(xs) {
    font-size: 24px;
  }
  @include breakpoint(sm) {
    font-size: 28px;
  }
  @include breakpoint(md) {
    font-size: 36px;
  }
}
.carousel-caption > h1 a {
cursor: pointer;
color: $gray-dark;


}

.carousel-control{
  background-color: none!important;
  text-shadow: none;
  opacity: 1;
}

.carousel-control.right, .carousel-control.left{
background-image: none;
}

.carousel-control .icon-next{
  right: 0.5em;
}

.carousel-control .icon-prev {
  left: 0.5em;

}
.carousel-control .icon-next, .carousel-control .icon-prev {
  top: 45%;
}

.carousel-control .icon-next:before{
  content:"\f105";
  font-family: FontAwesome;
  font-size: 2em;
  color: $gray-dark;


}

.carousel-control .icon-prev:before{
  content:"\f104";
  font-family: FontAwesome;
  font-size: 2em;
  color: $gray-dark;
}


.carousel-indicators li {
  background: $gray-dark;
  border: 1px solid $gray-dark;
}

.carousel-indicators .active {
  background: $red;
  border: 1px solid $red;

}

.img-gradient{
  position:relative;
  display:inline-block;
}
.img-gradient:after {
  content:'';
  position:absolute;
  left:0;
   top:0;
  width:100%;
  height:100%;
  display:inline-block;
  background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 800%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 800%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 800%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
