$red: #c6312a;
$white: #fff;

.bgGray{
  background: $gray-light;
}
.bg-dark-gray{
  background: $gray;
  color: white;
}

.bg-red{
  background: red;
}


.box-bg-color{
  background: $gray-light;
  color: $link-color
}

.footer-bg-color{
  background: $gray;
}
