
.box-footer{
  display: block;
  width: 100%;
  height: 35px;
  position: absolute;
  bottom: 0;
}

.grad {
    height: 35px;
    //background: rgba(255,255,255,0);
    background: red;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.58) 55%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(55%, rgba(255,255,255,0.58)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.58) 55%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.58) 55%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.58) 55%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0.58) 55%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#ffffff', endColorstr='#ffffff', GradientType=0 );

    z-index: 10;
}

.triangle-bottomright {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 35px solid $white;
    border-left: 35px solid transparent;
    z-index: 999;
}

/*square stuff*/
.square {
    position: relative;
    width: 100%;
    height: 100%;
}
.square:after {
    content: "";
    display: inline-block;
    padding-bottom: 100%;
}
.content {
    position: absolute;
    width: 100%;
    height: 100%;
}

.content-bottom {
    position: absolute;
    bottom: 0;
    padding-bottom: 30px;
    width: 100%;
    overflow: hidden;

}
