@media screen and (min-width : 768px){
  .flex-container {
      list-style: none;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: row;
      justify-content: space-around;

  }
  .flex-item {
      flex: 1 0 auto;
      height:auto;
  }
  .flex-item:before {
      content:'';
      float:left;
  }
}
