footer{
  margin-top: 10px;
  padding-right: 20px;
}

footer h4, footer ul.footer-list li a{
  color: white;
  font-size: 16px;
}


footer h4 i {
  width: 25px;
  text-align: right;
}

footer ul li {
  padding-left: 30px;
  margin: 10px 0;
}


.legal {
    line-height: 30px;
    margin: 0;
}
