form.fahrplan{

  .form-group{
    margin-left: -10px;
    label{
      margin-left: 10px;
      font-weight: normal;
      margin-bottom: 0;
    }
    input.form-control, select.form-control{
      border: 0;
      border-radius: 0;
      background: $gray-dark;
      color: #fff;
      &::-webkit-input-placeholder {
        font-family: fontAwesome, Arial;
        color: white;
        text-align: right;
        font-weight: bold;
      }
    }
  }
}

.btn-group-from-to{
  margin-top: 21px;
  margin-left: 0px!important;
}

.form-row{
  display: inline-block;
  width: 100%;

  .form-block{
        background: red;
        display: inline-block;

  }
  .block-time{
    display: inline-block;
    width: 20%;

  }

  .block-from-to{
    display: inline-block;
    width: 20%;
    .btn-group{
      margin: 25px 0 0 0;
      width: 100%;
      .btn{
        margin: 0;
        width: 49%;
      }
    }
  }
  .block-date{
    display: inline-block;
    width: 58.8%;
    @include breakpoint($minWidth: 320px, $maxWidth: 450px){
      display: none;
    }
  }
}
.contact-form {
  text-align: left;
  color: white;
  label{
    margin-left: 0;
    text-align: left!important;
  }
  .contact-item{
    border-radius: 0;
  }

}
