


/*



@include breakpoint($minWidth:991px) {
    .col-md-12 {
        .content {
            margin-right: 0;
        }
    }

    .col-md-4:nth-of-type(3n) {
        border: 1px solid red;

        .content {
            margin-right: 0;
        }
    }

    .headerbox {
        margin-right: 0;
    }
}
@include breakpoint($minWidth:768px, $maxWidth:991px) {
    .col-md-12 {
        .content {
            margin-right: 0;
        }
    }

    .col-md-4:nth-of-type(2n) {
        border: 1px solid red;

        .content {
            margin-right: 0;
        }
    }

    .headerbox {
        margin-right: 0;
    }
}
@include breakpoint($maxWidth:768px) {
  .col-md-12 {
      .content {
          margin-left: 10px;
      }

      &.content-no-bg{
        margin-left: 10px;
        margin-right: 10px;

      }
  }

.col-md-8{
  &.content-no-bg{
    margin-left: 10px;
    margin-right: 10px;

  }

}
    .col-md-4:nth-of-type(1n) {
      border: 1px solid green;
        .content {
          margin-right: 20px;
        }
    }
}

*/
