@include breakpoint($minWidth: 991px) {
  .row{
    & div:nth-child(3n){
      .content{
        margin-right: 0;
      }
    }
  }
}

@include breakpoint($minWidth: 776px, $maxWidth: 991px){
  .row{
    & div:nth-child(2n){
      .content{
        margin-right: 10px;
      }
    }
  }
}


@include breakpoint($maxWidth: 776px){
  .row{
    & div:nth-child(0n){
      .content{
        margin-right: 0;
      }
    }
  }
}

.col-md-12 {
  .content{
    margin-right: 0;
  }
}
