hr {
    border-top: 1px solid $gray;
}

body {
    letter-spacing: 0.0625em;
}


.blue{
  background: blue;
}
.red{
  background: red;
}

.list-fix{
  margin-left: 11px;
}

.divider{
  hr.trennlinie{
    border-top: 1px dotted black;
    margin: 0;
  }
  margin: 50px 0;
}
