.bg-none {
	background: none !important
}
.tc-orange {
	color: #feb753
}
.bg-orange {
	background-color: #feb753
}
.bd-orange {
	border-color: #feb753
}
.tc-blood {
	color: #c6524c
}
.bg-blood {
	background-color: #c6524c
}
.bd-blood {
	border-color: #c6524c
}
.tc-grapefruit, .j-button.negative {
	color: #f25951
}
.bg-grapefruit, .j-button, .j-button.negative:hover {
	background-color: #f25951
}
.bd-grapefruit {
	border-color: #f25951
}
.tc-salmon {
	color: #f57a74
}
.bg-salmon {
	background-color: #f57a74
}
.bd-salmon {
	border-color: #f57a74
}
.tc-white, .j-button, .j-button.negative:hover, .j-button.white {
	color: #fff
}
.bg-white, .j-button.white:hover {
	background-color: #fff
}
.bd-white, .j-button.white, .j-button.white:hover {
	border-color: #fff
}
.tc-background {
	color: #fff9f2
}
.bg-background {
	background-color: #fff9f2
}
.bd-background {
	border-color: #fff9f2
}
.tc-border {
	color: #e6e0d8
}
.bg-border {
	background-color: #e6e0d8
}
.bd-border {
	border-color: #e6e0d8
}
.tc-footer, .j-button.white:hover {
	color: #1e1e1e
}
.bg-footer {
	background-color: #1e1e1e
}
.bd-footer {
	border-color: #1e1e1e
}
.tc-maroon {
	color: #813333
}
.bg-maroon {
	background-color: #813333
}
.bd-maroon {
	border-color: #813333
}
.tc-gray {
	color: #888888
}
.bg-gray {
	background-color: #888888
}
.bd-gray {
	border-color: #888888
}
.tc-dark-maroon {
	color: #610000
}
.bg-dark-maroon {
	background-color: #610000
}
.bd-dark-maroon {
	border-color: #610000
}
.tc-footer-border {
	color: #353535
}
.bg-footer-border {
	background-color: #353535
}
.bd-footer-border {
	border-color: #353535
}
.tc-form-border {
	color: #ccc
}
.bg-form-border {
	background-color: #ccc
}
.bd-form-border {
	border-color: #ccc
}
.tc-light-gray {
	color: #aaa
}
.bg-light-gray {
	background-color: #aaa
}
.bd-light-gray {
	border-color: #aaa
}
.tc-medium-gray {
	color: #bbb
}
.bg-medium-gray {
	background-color: #bbb
}
.bd-medium-gray {
	border-color: #bbb
}
.tc-slevin {
	color: #777
}
.bg-slevin {
	background-color: #777
}
.bd-slevin {
	border-color: #777
}
.tc-off-white {
	color: #d2d2d2
}
.bg-off-white {
	background-color: #d2d2d2
}
.bd-off-white {
	border-color: #d2d2d2
}
.tc-nav-bg {
	color: #2e3034
}
.bg-nav-bg {
	background-color: #2e3034
}
.bd-nav-bg {
	border-color: #2e3034
}
.tc-nav-header {
	color: #27292c
}
.bg-nav-header {
	background-color: #27292c
}
.bd-nav-header {
	border-color: #27292c
}
.tc-satan {
	color: #666
}
.bg-satan {
	background-color: #666
}
.bd-satan {
	border-color: #666
}
.tc-sidebar-border {
	color: #3a3d43
}
.bg-sidebar-border {
	background-color: #3a3d43
}
.bd-sidebar-border {
	border-color: #3a3d43
}
.tc-embed {
	color: #999
}
.bg-embed {
	background-color: #999
}
.bd-embed {
	border-color: #999
}
.tc-nav-link-hover {
	color: #4a4d53
}
.bg-nav-link-hover {
	background-color: #4a4d53
}
.bd-nav-link-hover {
	border-color: #4a4d53
}
.tc-input-color {
	color: #555
}
.bg-input-color {
	background-color: #555
}
.bd-input-color {
	border-color: #555
}
.cf {
	overflow: hidden;
	*zoom: 1
}
.pcf {
	*zoom: 1
}
.pcf:after {
	content: "";
	display: table;
	clear: both
}
.fl {
	float: left
}
.fr {
	float: right
}
.ib {
	display: inline-block
}
.ibt {
	display: inline-block;
	vertical-align: top
}
.ibm {
	display: inline-block;
	vertical-align: middle
}
.block {
	display: block
}
.hide {
	display: none
}
.center {
	margin: 0 auto;
	display: block
}
.tac {
	text-align: center
}
.absolute {
	position: absolute
}
.relative {
	position: relative
}
.flex {
	display: flex
}
.j-facebook {
	background: #3B5998
}
.j-facebook:before {
	content: ""
}
.j-facebook-border {
	border-color: #3B5998
}
.j-facebook-text {
	color: #3B5998;
	background: transparent
}
.j-facebook-text:before {
	color: #3B5998
}
.j-twitter {
	background: #55ACEE
}
.j-twitter:before {
	content: ""
}
.j-twitter-border {
	border-color: #55ACEE
}
.j-twitter-text {
	color: #55ACEE;
	background: transparent
}
.j-twitter-text:before {
	color: #55ACEE
}
.j-instagram {
	background: #3F729B
}
.j-instagram:before {
	content: ""
}
.j-instagram-border {
	border-color: #3F729B
}
.j-instagram-text {
	color: #3F729B;
	background: transparent
}
.j-instagram-text:before {
	color: #3F729B
}
.j-youtube {
	background: #CC181E
}
.j-youtube:before {
	content: ""
}
.j-youtube-border {
	border-color: #CC181E
}
.j-youtube-text {
	color: #CC181E;
	background: transparent
}
.j-youtube-text:before {
	color: #CC181E
}
.j-tumblr {
	background: #375471
}
.j-tumblr:before {
	content: ""
}
.j-tumblr-border {
	border-color: #375471
}
.j-tumblr-text {
	color: #375471;
	background: transparent
}
.j-tumblr-text:before {
	color: #375471
}
.j-googleplus {
	background: #DD4B39
}
.j-googleplus:before {
	content: ""
}
.j-googleplus-border {
	border-color: #DD4B39
}
.j-googleplus-text {
	color: #DD4B39;
	background: transparent
}
.j-googleplus-text:before {
	color: #DD4B39
}
.j-pinterest {
	background: #CB2028
}
.j-pinterest:before {
	content: ""
}
.j-pinterest-border {
	border-color: #CB2028
}
.j-pinterest-text {
	color: #CB2028;
	background: transparent
}
.j-pinterest-text:before {
	color: #CB2028
}
.j-blog {
	background: #FF6600
}
.j-blog:before {
	content: ""
}
.j-blog-border {
	border-color: #FF6600
}
.j-blog-text {
	color: #FF6600;
	background: transparent
}
.j-blog-text:before {
	color: #FF6600
}
.j-vine {
	background: #00BF8F
}
.j-vine:before {
	content: ""
}
.j-vine-border {
	border-color: #00BF8F
}
.j-vine-text {
	color: #00BF8F;
	background: transparent
}
.j-vine-text:before {
	color: #00BF8F
}
.j-soundcloud {
	background: #f30
}
.j-soundcloud:before {
	content: ""
}
.j-soundcloud-border {
	border-color: #f30
}
.j-soundcloud-text {
	color: #f30;
	background: transparent
}
.j-soundcloud-text:before {
	color: #f30
}
.j-linkedin {
	background: #007bb6
}
.j-linkedin:before {
	content: ""
}
.j-linkedin-border {
	border-color: #007bb6
}
.j-linkedin-text {
	color: #007bb6;
	background: transparent
}
.j-linkedin-text:before {
	color: #007bb6
}
.j-flickr {
	background: #ff0084
}
.j-flickr:before {
	content: ""
}
.j-flickr-border {
	border-color: #ff0084
}
.j-flickr-text {
	color: #ff0084;
	background: transparent
}
.j-flickr-text:before {
	color: #ff0084
}
.j-vimeo {
	background: #1AB7EA
}
.j-vimeo:before {
	content: ""
}
.j-vimeo-border {
	border-color: #1AB7EA
}
.j-vimeo-text {
	color: #1AB7EA;
	background: transparent
}
.j-vimeo-text:before {
	color: #1AB7EA
}
.j-hashtag {
	background: #F17E6F
}
.j-hashtag:before {
	content: ""
}
.j-hashtag-border {
	border-color: #F17E6F
}
.j-hashtag-text {
	color: #F17E6F;
	background: transparent
}
.j-hashtag-text:before {
	color: #F17E6F
}
.j-yelp {
	background: #C41200
}
.j-yelp:before {
	content: ""
}
.j-yelp-border {
	border-color: #C41200
}
.j-yelp-text {
	color: #C41200;
	background: transparent
}
.j-yelp-text:before {
	color: #C41200
}
.j-deviantart {
	background: #05cc47
}
.j-deviantart:before {
	content: ""
}
.j-deviantart-border {
	border-color: #05cc47
}
.j-deviantart-text {
	color: #05cc47;
	background: transparent
}
.j-deviantart-text:before {
	color: #05cc47
}
.j-email {
	background: #F17E6F
}
.j-email:before {
	content: ""
}
.j-email-border {
	border-color: #F17E6F
}
.j-email-text {
	color: #F17E6F;
	background: transparent
}
.j-email-text:before {
	color: #F17E6F
}
.j-slack {
	background: #6ecadc
}
.j-slack:before {
	content: ""
}
.j-slack-border {
	border-color: #6ecadc
}
.j-slack-text {
	color: #6ecadc;
	background: transparent
}
.j-slack-text:before {
	color: #6ecadc
}
.j-spotify {
	background: #1ed760
}
.j-spotify:before {
	content: ""
}
.j-spotify-border {
	border-color: #1ed760
}
.j-spotify-text {
	color: #1ed760;
	background: transparent
}
.j-spotify-text:before {
	color: #1ed760
}
.j-soundcloud:before {
	position: relative;
	left: -4px
}
.j-googleplus:before {
	position: relative;
	left: -0.15em
}
.j-hashtag:before {
	-moz-transform: rotate(19deg);
	-ms-transform: rotate(19deg);
	-webkit-transform: rotate(19deg);
	transform: rotate(19deg);
	position: relative;
	left: -2px
}
.j-juicer:before {
	content: url(//assets.juicer.io/small-square-a2405de4d5c67c4ed91459e03047ffb7.png)
}
.j-email:before {
	position: relative;
	top: -1px !important
}
.j-social-icon:before {
	font-family: 'fontawesome-webfont'
}
@font-face {
	font-family: "ProximaNova-Bold";
	src: url(//assets.juicer.io/ProximaNova-Bold-742e0db0e63561caa4d81e7b82b8896d.woff) format("woff"), url(//assets.juicer.io/ProximaNova-Bold-8ac69eb4bcdbc41dfc45d813a30e4b0c.ttf) format("truetype");
	font-weight: normal;
	font-style: normal
}
.bold {
	font-family: "ProximaNova-Bold", Sans-serif
}
@font-face {
	font-family: "ProximaNova-Regular";
	src: url(//assets.juicer.io/ProximaNova-Regular-07ed3f621ec2de6da9ca0c3ee7ff0dbc.woff) format("woff"), url(//assets.juicer.io/ProximaNova-Regular-082c2977ccabaad85398f6a4b8afb76c.ttf) format("truetype");
	font-weight: normal;
	font-style: normal
}
.regular {
	font-family: "ProximaNova-Regular", Sans-serif
}
@font-face {
	font-family: "ProximaNova-Light";
	src: url(//assets.juicer.io/ProximaNova-Light-100c76148347604625e56a2663aa523c.woff) format("woff"), url(//assets.juicer.io/ProximaNova-Light-a914eec7c175f0e3781bd7959f7219f6.ttf) format("truetype");
	font-weight: normal;
	font-style: normal
}
.light {
	font-family: "ProximaNova-Light", Sans-serif
}
@font-face {
	font-family: "fontawesome-webfont";
	src: url(//assets.juicer.io/fonts/fontawesome-webfont.eot);
	src: url(//assets.juicer.io/fonts/fontawesome-webfont.eot?#iefix) format("embedded-opentype"), url(//assets.juicer.io/fontawesome-webfont-4779cb6a456138f7eef3c20b987b2fdd.woff) format("woff"), url(//assets.juicer.io/fontawesome-webfont-2d3df2ed20c010680e20e82fa301edd9.ttf) format("truetype"), url(//assets.juicer.io/fontawesome-webfont-4f0787fa8238018fc8aed00e81484759.svg#fontawesome-webfont) format("svg");
	font-weight: normal;
	font-style: normal
}
.j-sprite, .j-overlay .j-close {
	text-indent: -9999px;
	display: block;
	background-repeat: no-repeat;
	background-image: url(//assets.juicer.io/embed-s10e5f61cd0-a3f45f38fda43295e57427b7217bd187.png)
}
.j-button {
	font-family: "ProximaNova-Bold", Sans-serif;
	font-size: 13px;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	display: inline-block;
	border-color: #f25951;
	border-width: 2px;
	border-style: solid;
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
	outline: none;
	line-height: 1.5;
	padding: 1.2em 3em 1.1em;
	-webkit-appearance: none
}
.j-button.negative {
	background: transparent;
	padding: 8px 17px 7px;
	padding: 0.6em 1.5em 0.55em
}
.j-button:hover {
	background-color: #E75149;
	border-color: #E75149
}
.j-button.big {
	font-family: "ProximaNova-Bold", Sans-serif;
	font-size: 16px;
	padding: 1.25em 3.4em
}
.j-button.small {
	font-family: "ProximaNova-Bold", Sans-serif;
	font-size: 12px;
	padding: 1.1em 2.5em 1em
}
.j-button:disabled, .j-button.secondary {
	background-color: #ccc;
	border-color: #ccc
}
.social-button {
	border: none;
	position: relative;
	padding: 1.2em 3em 1.1em 5em
}
.social-button:before {
	font-size: 1.75em;
	line-height: 1;
	position: absolute;
	top: 0.6em;
	left: 1em
}
.add-a-hashtag {
	width: 75%;
	margin: 0 auto
}
.add-a-hashtag li {
	width: 23%;
	cursor: pointer;
	margin: 0 2% 2% 0;
	padding: 15px
}
.add-a-hashtag li:before {
	font-size: 3em;
	display: block
}
.j-loading-container {
	width: 100%;
	position: absolute;
	z-index: 99;
	height: 100%;
	background: rgba(242, 242, 242, 0.6);
	top: 0
}
.j-loading-container .j-loading {
	position: fixed;
	left: 58.5%
}
@media all and (max-width: 1000px) {
	.j-loading-container .j-loading {
		left: 50%
	}
}
.source-form .j-loading {
	margin: 35px auto 0
}
.j-loading {
	-moz-animation: loader 2s infinite ease;
	-webkit-animation: loader 2s infinite ease;
	animation: loader 2s infinite ease;
	width: 30px;
	height: 30px;
	border: 4px solid #F17E6F;
	margin: 0 auto;
	font-size: 0;
	color: transparent
}
.j-loading:before {
	-moz-animation: loader-inner 2s infinite ease-in;
	-webkit-animation: loader-inner 2s infinite ease-in;
	animation: loader-inner 2s infinite ease-in;
	vertical-align: top;
	display: inline-block;
	width: 100%;
	background-color: #F17E6F;
	content: ''
}
@-moz-keyframes loader {
	0% {
		transform: rotate(0deg)
	}
	25% {
		transform: rotate(180deg)
	}
	50% {
		transform: rotate(180deg)
	}
	75% {
		transform: rotate(360deg)
	}
	100% {
		transform: rotate(360deg)
	}
}
@-webkit-keyframes loader {
	0% {
		transform: rotate(0deg)
	}
	25% {
		transform: rotate(180deg)
	}
	50% {
		transform: rotate(180deg)
	}
	75% {
		transform: rotate(360deg)
	}
	100% {
		transform: rotate(360deg)
	}
}
@keyframes loader {
	0% {
		transform: rotate(0deg)
	}
	25% {
		transform: rotate(180deg)
	}
	50% {
		transform: rotate(180deg)
	}
	75% {
		transform: rotate(360deg)
	}
	100% {
		transform: rotate(360deg)
	}
}
@-moz-keyframes loader-inner {
	0% {
		height: 0%
	}
	25% {
		height: 0%
	}
	50% {
		height: 100%
	}
	75% {
		height: 100%
	}
	100% {
		height: 0%
	}
}
@-webkit-keyframes loader-inner {
	0% {
		height: 0%
	}
	25% {
		height: 0%
	}
	50% {
		height: 100%
	}
	75% {
		height: 100%
	}
	100% {
		height: 0%
	}
}
@keyframes loader-inner {
	0% {
		height: 0%
	}
	25% {
		height: 0%
	}
	50% {
		height: 100%
	}
	75% {
		height: 100%
	}
	100% {
		height: 0%
	}
}
.juicer-feed {
	*zoom: 1;
	-moz-transition: opacity 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out;
	-webkit-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	width: 100%;
	position: relative;
	margin: 0 auto !important;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0;
	line-height: 1.4
}
.juicer-feed:after {
	content: "";
	display: table;
	clear: both
}
.juicer-feed .j-stacker {
	display: table;
	table-layout: fixed;
	width: 100%
}
.juicer-feed .j-stacker>* {
	display: table-cell !important;
	vertical-align: top;
	float: none !important
}
.juicer-feed * {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
.juicer-feed.loaded {
	visibility: visible;
	opacity: 1
}
.juicer-feed .j-loading-wrapper, .juicer-feed .j-paginate {
	margin: 50px auto
}
.juicer-feed .j-paginate {
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	display: inline-block;
	border: 2px solid #F17E6F;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 0.5px;
	color: #F17E6F;
	text-align: center;
	padding: 12px 0 10px;
	cursor: pointer;
	background-color: transparent;
	width: 150px;
	display: block;
	text-transform: uppercase
}
.juicer-feed .j-paginate:hover {
	background: #F17E6F;
	color: #F2F2F2
}
.juicer-feed a {
	text-decoration: none !important;
	border-bottom: none
}
.juicer-feed h1.referral {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	margin: 0 auto 15px;
	text-align: center;
	font-weight: 500;
	display: block;
	white-space: nowrap
}
.juicer-feed h1.referral a {
	-moz-transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
	color: #3A3A3A;
	display: inline-block
}
.juicer-feed h1.referral a:hover {
	color: #F17E6F
}
.juicer-feed ul.j-filters {
	overflow: hidden;
	*zoom: 1;
	display: -webkit-flex;
	display: flex;
	display: -ms-flexbox;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	-webkit-justify-content: center;
	justify-content: center;
	-ms-flex-pack: center;
	list-style-type: none;
	width: 100%;
	margin: 0 0 25px 0
}
.juicer-feed ul.j-filters li {
	color: white;
	padding: 10px;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	white-space: nowrap;
	word-break: break-all;
	overflow: hidden;
	text-overflow: ellipsis;
	position: relative;
	text-align: left;
	list-style-type: none;
	margin: 0;
	width: 190px;
	display: inline-block
}
.juicer-feed ul.j-filters li:before {
	font-family: "fontawesome-webfont", Helvetica, Arial, sans-serif;
	font-size: 14px;
	margin: 0 5px 0 0;
	font-weight: normal
}
.juicer-feed ul.j-filters li:hover:after, .juicer-feed ul.j-filters li.selected:after, .juicer-feed ul.j-filters li.highlight:after {
	content: '';
	display: block;
	width: 100%;
	height: 4px;
	background: #F17E6F;
	bottom: 0;
	left: 0;
	position: absolute
}
.juicer-feed ul.j-filters li.all, .juicer-feed ul.j-filters li.grouped, .juicer-feed ul.j-filters li.moderate-filter {
	background: #232830
}
.juicer-feed ul.j-filters li.all:before, .juicer-feed ul.j-filters li.grouped:before, .juicer-feed ul.j-filters li.moderate-filter:before {
	content: '\f0c0'
}
.juicer-feed ul.j-filters li.grouped, .juicer-feed ul.j-filters li.moderate-filter {
	border-right: 1px solid #e5e5e5
}
.juicer-feed ul.j-filters li.grouped:before, .juicer-feed ul.j-filters li.moderate-filter:before {
	content: ''
}
.juicer-feed ul.j-filters li.grouped:last-of-type, .juicer-feed ul.j-filters li.moderate-filter:last-of-type {
	border: none
}
.juicer-feed ul.j-filters li.moderate-filter {
	width: 146px !important
}
@media all and (max-width: 500px) {
	.juicer-feed ul.j-filters li {
		width: 33.333%
	}
}
.juicer-feed .emoji {
	width: 1.5em !important;
	height: 1.5em !important;
	margin-bottom: 0 !important;
	margin-bottom: -0.25em !important;
	display: inline-block
}
.juicer-feed.photos-only li.words {
	display: none
}
.juicer-feed.white li.feed-item, .juicer-feed.user li.feed-item, .juicer-feed.image-grid li.feed-item, .juicer-feed.hip li.feed-item, .juicer-feed.gray li.feed-item, .juicer-feed.modern li.feed-item, .juicer-feed.polaroid li.feed-item {
	opacity: 0
}
.juicer-feed.white li.feed-item, .juicer-feed.user li.feed-item, .juicer-feed.juicer-widget li.feed-item, .juicer-feed.colors li.feed-item, .juicer-feed.gray li.feed-item, .juicer-feed.modern li.feed-item, .juicer-feed.polaroid li.feed-item {
	padding: 10px;
	background: white;
	color: #3A3A3A;
	margin-bottom: 5%;
	border-color: #e5e5e5;
	border-style: solid;
	border-width: 0 1px 1px 0;
	white-space: normal;
	float: none;
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto
}
.juicer-feed.white li.feed-item.juicer, .juicer-feed.user li.feed-item.juicer, .juicer-feed.juicer-widget li.feed-item.juicer, .juicer-feed.colors li.feed-item.juicer, .juicer-feed.gray li.feed-item.juicer, .juicer-feed.modern li.feed-item.juicer, .juicer-feed.polaroid li.feed-item.juicer {
	background: #F17E6F;
	color: white
}
.juicer-feed.white li.feed-item.juicer a, .juicer-feed.user li.feed-item.juicer a, .juicer-feed.juicer-widget li.feed-item.juicer a, .juicer-feed.colors li.feed-item.juicer a, .juicer-feed.gray li.feed-item.juicer a, .juicer-feed.modern li.feed-item.juicer a, .juicer-feed.polaroid li.feed-item.juicer a {
	color: white;
	text-decoration: underline !important
}
.juicer-feed.white li.feed-item.juicer a:hover, .juicer-feed.user li.feed-item.juicer a:hover, .juicer-feed.juicer-widget li.feed-item.juicer a:hover, .juicer-feed.colors li.feed-item.juicer a:hover, .juicer-feed.gray li.feed-item.juicer a:hover, .juicer-feed.modern li.feed-item.juicer a:hover, .juicer-feed.polaroid li.feed-item.juicer a:hover {
	color: white
}
.juicer-feed.white li.feed-item .j-message a, .juicer-feed.white li.feed-item .j-edit a, .juicer-feed.user li.feed-item .j-message a, .juicer-feed.user li.feed-item .j-edit a, .juicer-feed.juicer-widget li.feed-item .j-message a, .juicer-feed.juicer-widget li.feed-item .j-edit a, .juicer-feed.colors li.feed-item .j-message a, .juicer-feed.colors li.feed-item .j-edit a, .juicer-feed.gray li.feed-item .j-message a, .juicer-feed.gray li.feed-item .j-edit a, .juicer-feed.modern li.feed-item .j-message a, .juicer-feed.modern li.feed-item .j-edit a, .juicer-feed.polaroid li.feed-item .j-message a, .juicer-feed.polaroid li.feed-item .j-edit a {
	font-weight: bold
}
.juicer-feed.white img, .juicer-feed.white .video-wrapper, .juicer-feed.white .vine-wrapper, .juicer-feed.white .instagram-wrapper, .juicer-feed.white .twitter-wrapper, .juicer-feed.user img, .juicer-feed.user .video-wrapper, .juicer-feed.user .vine-wrapper, .juicer-feed.user .instagram-wrapper, .juicer-feed.user .twitter-wrapper, .juicer-feed.juicer-widget img, .juicer-feed.juicer-widget .video-wrapper, .juicer-feed.juicer-widget .vine-wrapper, .juicer-feed.juicer-widget .instagram-wrapper, .juicer-feed.juicer-widget .twitter-wrapper, .juicer-feed.colors img, .juicer-feed.colors .video-wrapper, .juicer-feed.colors .vine-wrapper, .juicer-feed.colors .instagram-wrapper, .juicer-feed.colors .twitter-wrapper, .juicer-feed.gray img, .juicer-feed.gray .video-wrapper, .juicer-feed.gray .vine-wrapper, .juicer-feed.gray .instagram-wrapper, .juicer-feed.gray .twitter-wrapper, .juicer-feed.modern img, .juicer-feed.modern .video-wrapper, .juicer-feed.modern .vine-wrapper, .juicer-feed.modern .instagram-wrapper, .juicer-feed.modern .twitter-wrapper, .juicer-feed.polaroid img, .juicer-feed.polaroid .video-wrapper, .juicer-feed.polaroid .vine-wrapper, .juicer-feed.polaroid .instagram-wrapper, .juicer-feed.polaroid .twitter-wrapper {
	width: 100%;
	margin-bottom: 10px
}
.juicer-feed.white img iframe, .juicer-feed.white img video, .juicer-feed.white img embed, .juicer-feed.white .video-wrapper iframe, .juicer-feed.white .video-wrapper video, .juicer-feed.white .video-wrapper embed, .juicer-feed.white .vine-wrapper iframe, .juicer-feed.white .vine-wrapper video, .juicer-feed.white .vine-wrapper embed, .juicer-feed.white .instagram-wrapper iframe, .juicer-feed.white .instagram-wrapper video, .juicer-feed.white .instagram-wrapper embed, .juicer-feed.white .twitter-wrapper iframe, .juicer-feed.white .twitter-wrapper video, .juicer-feed.white .twitter-wrapper embed, .juicer-feed.user img iframe, .juicer-feed.user img video, .juicer-feed.user img embed, .juicer-feed.user .video-wrapper iframe, .juicer-feed.user .video-wrapper video, .juicer-feed.user .video-wrapper embed, .juicer-feed.user .vine-wrapper iframe, .juicer-feed.user .vine-wrapper video, .juicer-feed.user .vine-wrapper embed, .juicer-feed.user .instagram-wrapper iframe, .juicer-feed.user .instagram-wrapper video, .juicer-feed.user .instagram-wrapper embed, .juicer-feed.user .twitter-wrapper iframe, .juicer-feed.user .twitter-wrapper video, .juicer-feed.user .twitter-wrapper embed, .juicer-feed.juicer-widget img iframe, .juicer-feed.juicer-widget img video, .juicer-feed.juicer-widget img embed, .juicer-feed.juicer-widget .video-wrapper iframe, .juicer-feed.juicer-widget .video-wrapper video, .juicer-feed.juicer-widget .video-wrapper embed, .juicer-feed.juicer-widget .vine-wrapper iframe, .juicer-feed.juicer-widget .vine-wrapper video, .juicer-feed.juicer-widget .vine-wrapper embed, .juicer-feed.juicer-widget .instagram-wrapper iframe, .juicer-feed.juicer-widget .instagram-wrapper video, .juicer-feed.juicer-widget .instagram-wrapper embed, .juicer-feed.juicer-widget .twitter-wrapper iframe, .juicer-feed.juicer-widget .twitter-wrapper video, .juicer-feed.juicer-widget .twitter-wrapper embed, .juicer-feed.colors img iframe, .juicer-feed.colors img video, .juicer-feed.colors img embed, .juicer-feed.colors .video-wrapper iframe, .juicer-feed.colors .video-wrapper video, .juicer-feed.colors .video-wrapper embed, .juicer-feed.colors .vine-wrapper iframe, .juicer-feed.colors .vine-wrapper video, .juicer-feed.colors .vine-wrapper embed, .juicer-feed.colors .instagram-wrapper iframe, .juicer-feed.colors .instagram-wrapper video, .juicer-feed.colors .instagram-wrapper embed, .juicer-feed.colors .twitter-wrapper iframe, .juicer-feed.colors .twitter-wrapper video, .juicer-feed.colors .twitter-wrapper embed, .juicer-feed.gray img iframe, .juicer-feed.gray img video, .juicer-feed.gray img embed, .juicer-feed.gray .video-wrapper iframe, .juicer-feed.gray .video-wrapper video, .juicer-feed.gray .video-wrapper embed, .juicer-feed.gray .vine-wrapper iframe, .juicer-feed.gray .vine-wrapper video, .juicer-feed.gray .vine-wrapper embed, .juicer-feed.gray .instagram-wrapper iframe, .juicer-feed.gray .instagram-wrapper video, .juicer-feed.gray .instagram-wrapper embed, .juicer-feed.gray .twitter-wrapper iframe, .juicer-feed.gray .twitter-wrapper video, .juicer-feed.gray .twitter-wrapper embed, .juicer-feed.modern img iframe, .juicer-feed.modern img video, .juicer-feed.modern img embed, .juicer-feed.modern .video-wrapper iframe, .juicer-feed.modern .video-wrapper video, .juicer-feed.modern .video-wrapper embed, .juicer-feed.modern .vine-wrapper iframe, .juicer-feed.modern .vine-wrapper video, .juicer-feed.modern .vine-wrapper embed, .juicer-feed.modern .instagram-wrapper iframe, .juicer-feed.modern .instagram-wrapper video, .juicer-feed.modern .instagram-wrapper embed, .juicer-feed.modern .twitter-wrapper iframe, .juicer-feed.modern .twitter-wrapper video, .juicer-feed.modern .twitter-wrapper embed, .juicer-feed.polaroid img iframe, .juicer-feed.polaroid img video, .juicer-feed.polaroid img embed, .juicer-feed.polaroid .video-wrapper iframe, .juicer-feed.polaroid .video-wrapper video, .juicer-feed.polaroid .video-wrapper embed, .juicer-feed.polaroid .vine-wrapper iframe, .juicer-feed.polaroid .vine-wrapper video, .juicer-feed.polaroid .vine-wrapper embed, .juicer-feed.polaroid .instagram-wrapper iframe, .juicer-feed.polaroid .instagram-wrapper video, .juicer-feed.polaroid .instagram-wrapper embed, .juicer-feed.polaroid .twitter-wrapper iframe, .juicer-feed.polaroid .twitter-wrapper video, .juicer-feed.polaroid .twitter-wrapper embed {
	height: 100% !important
}
.juicer-feed.white .j-meta ul, .juicer-feed.user .j-meta ul, .juicer-feed.juicer-widget .j-meta ul, .juicer-feed.colors .j-meta ul, .juicer-feed.gray .j-meta ul, .juicer-feed.modern .j-meta ul, .juicer-feed.polaroid .j-meta ul {
	margin: 0;
	padding: 0
}
.juicer-feed.juicer-widget.j-modern {
	overflow: visible;
	max-height: 100% !important
}
.juicer-feed.juicer-widget.j-modern .flip-container {
	-moz-perspective: 1000;
	-webkit-perspective: 1000;
	perspective: 1000
}
.juicer-feed.juicer-widget.j-modern .flip-container.flip .flipper {
	-moz-transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg)
}
.juicer-feed.juicer-widget.j-modern .flipper {
	*zoom: 1;
	-moz-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	transition: 0.6s;
	position: relative
}
.juicer-feed.juicer-widget.j-modern .flipper:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	overflow: hidden;
	visibility: hidden
}
.juicer-feed.juicer-widget.j-modern .front, .juicer-feed.juicer-widget.j-modern .back {
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	overflow: hidden
}
.juicer-feed.juicer-widget.j-modern .front {
	-moz-transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
	position: relative;
	z-index: 2
}
.juicer-feed.juicer-widget.j-modern .back {
	-moz-transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
	position: absolute;
	left: 0;
	top: 0
}
.juicer-feed.juicer-widget.j-modern .flip .front {
	position: absolute;
	top: 0;
	left: 0
}
.juicer-feed.juicer-widget.j-modern .flip .back {
	position: relative
}
.juicer-feed.juicer-widget.j-ie {
	overflow: visible;
	max-height: 100% !important
}
.juicer-feed.juicer-widget.j-ie .flip-container {
	-moz-perspective: 1000;
	-webkit-perspective: 1000;
	perspective: 1000
}
.juicer-feed.juicer-widget.j-ie .flipper {
	*zoom: 1;
	position: relative
}
.juicer-feed.juicer-widget.j-ie .flipper:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	overflow: hidden;
	visibility: hidden
}
.juicer-feed.juicer-widget.j-ie .front, .juicer-feed.juicer-widget.j-ie .back {
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	transition: 0s;
	-ms-backface-visibility: hidden;
	overflow: hidden
}
.juicer-feed.juicer-widget.j-ie .front {
	-moz-transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
	position: relative;
	z-index: 2
}
.juicer-feed.juicer-widget.j-ie .back {
	-moz-transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
	position: absolute;
	left: 0;
	top: 0
}
.juicer-feed.juicer-widget.j-ie .flip .front {
	-moz-transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
	position: absolute;
	top: 0;
	left: 0
}
.juicer-feed.juicer-widget.j-ie .flip .back {
	-moz-transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
	position: relative
}
.juicer-feed.colors .j-meta a.j-social.j-facebook, .juicer-feed.colored-icons .j-meta a.j-social.j-facebook {
	color: #3B5998
}
.juicer-feed.colors .j-meta a.j-social.j-instagram, .juicer-feed.colored-icons .j-meta a.j-social.j-instagram {
	color: #3F729B
}
.juicer-feed.colors .j-meta a.j-social.j-twitter, .juicer-feed.colored-icons .j-meta a.j-social.j-twitter {
	color: #55ACEE
}
.juicer-feed.colors .j-meta a.j-social.j-youtube, .juicer-feed.colored-icons .j-meta a.j-social.j-youtube {
	color: #CC181E
}
.juicer-feed.colors .j-meta a.j-social.j-tumblr, .juicer-feed.colored-icons .j-meta a.j-social.j-tumblr {
	color: #375471
}
.juicer-feed.colors .j-meta a.j-social.j-googleplus, .juicer-feed.colored-icons .j-meta a.j-social.j-googleplus {
	color: #DD4B39
}
.juicer-feed.colors .j-meta a.j-social.j-pinterest, .juicer-feed.colored-icons .j-meta a.j-social.j-pinterest {
	color: #CB2028
}
.juicer-feed.colors .j-meta a.j-social.j-blog, .juicer-feed.colored-icons .j-meta a.j-social.j-blog {
	color: #FF6600
}
.juicer-feed.colors .j-meta a.j-social.j-vine, .juicer-feed.colored-icons .j-meta a.j-social.j-vine {
	color: #00BF8F
}
.juicer-feed.colors .j-meta a.j-social.j-soundcloud, .juicer-feed.colored-icons .j-meta a.j-social.j-soundcloud {
	color: #f30
}
.juicer-feed.colors .j-meta a.j-social.j-linkedin, .juicer-feed.colored-icons .j-meta a.j-social.j-linkedin {
	color: #007bb6
}
.juicer-feed.colors .j-meta a.j-social.j-flickr, .juicer-feed.colored-icons .j-meta a.j-social.j-flickr {
	color: #ff0084
}
.juicer-feed.colors .j-meta a.j-social.j-vimeo, .juicer-feed.colored-icons .j-meta a.j-social.j-vimeo {
	color: #1AB7EA
}
.juicer-feed.colors .j-meta a.j-social.j-hashtag, .juicer-feed.colored-icons .j-meta a.j-social.j-hashtag {
	color: #F17E6F
}
.juicer-feed.colors .j-meta a.j-social.j-yelp, .juicer-feed.colored-icons .j-meta a.j-social.j-yelp {
	color: #C41200
}
.juicer-feed.colors .j-meta a.j-social.j-deviantart, .juicer-feed.colored-icons .j-meta a.j-social.j-deviantart {
	color: #05cc47
}
.juicer-feed.colors .j-meta a.j-social.j-email, .juicer-feed.colored-icons .j-meta a.j-social.j-email {
	color: #F17E6F
}
.juicer-feed.colors .j-meta a.j-social.j-slack, .juicer-feed.colored-icons .j-meta a.j-social.j-slack {
	color: #6ecadc
}
.juicer-feed.colors .j-meta a.j-social.j-spotify, .juicer-feed.colored-icons .j-meta a.j-social.j-spotify {
	color: #1ed760
}
.juicer-feed.gray li.feed-item {
	background: #C6C8CA;
	color: #464648
}
.juicer-feed.gray a {
	color: #55C1BD
}
.juicer-feed.gray .j-meta a {
	color: #464648
}
.juicer-feed.gray .j-meta a:hover {
	color: #55C1BD
}
.juicer-feed.image-grid li.feed-item, .juicer-feed.slider li.feed-item, .juicer-feed.hip li.feed-item {
	padding: 0
}
.juicer-feed.image-grid li.feed-item:hover .j-text, .juicer-feed.slider li.feed-item:hover .j-text, .juicer-feed.hip li.feed-item:hover .j-text {
	visibility: visible;
	opacity: 1
}
.juicer-feed.image-grid li.feed-item.words, .juicer-feed.slider li.feed-item.words, .juicer-feed.hip li.feed-item.words {
	border-right: 1px solid white;
	border-bottom: 1px solid white
}
.juicer-feed.image-grid li.feed-item.words .j-text, .juicer-feed.slider li.feed-item.words .j-text, .juicer-feed.hip li.feed-item.words .j-text {
	visibility: visible;
	opacity: 1;
	position: relative;
	color: white;
	padding: 75px 5% 85px;
	background: transparent
}
.juicer-feed.image-grid li.feed-item.words .j-text a, .juicer-feed.slider li.feed-item.words .j-text a, .juicer-feed.hip li.feed-item.words .j-text a {
	color: white;
	font-weight: bold
}
.juicer-feed.image-grid li.feed-item.words .j-text a:hover, .juicer-feed.slider li.feed-item.words .j-text a:hover, .juicer-feed.hip li.feed-item.words .j-text a:hover {
	color: #F17E6F
}
.juicer-feed.image-grid li.feed-item.words .j-text p, .juicer-feed.slider li.feed-item.words .j-text p, .juicer-feed.hip li.feed-item.words .j-text p {
	color: white
}
.juicer-feed.image-grid li.feed-item.words .j-meta a, .juicer-feed.slider li.feed-item.words .j-meta a, .juicer-feed.hip li.feed-item.words .j-meta a {
	color: white;
	font-weight: normal
}
.juicer-feed.image-grid li.feed-item.words .j-poster h3, .juicer-feed.image-grid li.feed-item.words .j-poster .j-date, .juicer-feed.slider li.feed-item.words .j-poster h3, .juicer-feed.slider li.feed-item.words .j-poster .j-date, .juicer-feed.hip li.feed-item.words .j-poster h3, .juicer-feed.hip li.feed-item.words .j-poster .j-date {
	color: white
}
.juicer-feed.image-grid li.feed-item.j-video .j-text .j-message, .juicer-feed.slider li.feed-item.j-video .j-text .j-message, .juicer-feed.hip li.feed-item.j-video .j-text .j-message {
	vertical-align: top
}
.juicer-feed.image-grid .j-text, .juicer-feed.slider .j-text, .juicer-feed.hip .j-text {
	-moz-transition: opacity 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out;
	-webkit-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
	opacity: 0;
	visibility: hidden;
	color: #bababa;
	background: rgba(58, 58, 58, 0.7);
	text-align: center;
	position: absolute;
	padding: 5%;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 2;
	overflow: hidden
}
.juicer-feed.image-grid .j-text:before, .juicer-feed.slider .j-text:before, .juicer-feed.hip .j-text:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle
}
.juicer-feed.image-grid .j-text .j-message, .juicer-feed.image-grid .j-text .j-edit, .juicer-feed.slider .j-text .j-message, .juicer-feed.slider .j-text .j-edit, .juicer-feed.hip .j-text .j-message, .juicer-feed.hip .j-text .j-edit {
	display: inline-block;
	vertical-align: middle;
	max-height: 90%;
	overflow: hidden;
	width: 100%
}
.juicer-feed.image-grid .j-text .j-message a, .juicer-feed.image-grid .j-text .j-edit a, .juicer-feed.slider .j-text .j-message a, .juicer-feed.slider .j-text .j-edit a, .juicer-feed.hip .j-text .j-message a, .juicer-feed.hip .j-text .j-edit a {
	color: #F17E6F
}
.juicer-feed.image-grid .j-text .j-message p, .juicer-feed.image-grid .j-text .j-edit p, .juicer-feed.slider .j-text .j-message p, .juicer-feed.slider .j-text .j-edit p, .juicer-feed.hip .j-text .j-message p, .juicer-feed.hip .j-text .j-edit p {
	margin: 0 0 10px 0;
	word-break: break-word;
	color: #bababa
}
.juicer-feed.image-grid .j-text .j-message p:last-of-type, .juicer-feed.image-grid .j-text .j-edit p:last-of-type, .juicer-feed.slider .j-text .j-message p:last-of-type, .juicer-feed.slider .j-text .j-edit p:last-of-type, .juicer-feed.hip .j-text .j-message p:last-of-type, .juicer-feed.hip .j-text .j-edit p:last-of-type {
	margin: 0
}
.juicer-feed.image-grid .j-image.playing+.j-text, .juicer-feed.slider .j-image.playing+.j-text, .juicer-feed.hip .j-image.playing+.j-text {
	visibility: hidden !important;
	opacity: 0 !important
}
.juicer-feed.image-grid .j-meta, .juicer-feed.slider .j-meta, .juicer-feed.hip .j-meta {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 5px 7px;
	margin: 25px -5% 0;
	text-align: left
}
.juicer-feed.image-grid .j-poster, .juicer-feed.slider .j-poster, .juicer-feed.hip .j-poster {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 10px;
	height: auto;
	opacity: 0;
	visibility: hidden
}
.juicer-feed.image-grid .j-poster h3, .juicer-feed.image-grid .j-poster .j-date, .juicer-feed.slider .j-poster h3, .juicer-feed.slider .j-poster .j-date, .juicer-feed.hip .j-poster h3, .juicer-feed.hip .j-poster .j-date {
	color: #bababa
}
.juicer-feed.slider {
	position: relative
}
.juicer-feed.slider li.feed-item {
	display: block
}
.juicer-feed.slider li.feed-item a.j-image {
	width: 100%;
	overflow: hidden;
	display: block;
	position: relative
}
.juicer-feed.slider li.feed-item a.j-image img {
	width: 100%
}
.juicer-feed.slider li.feed-item.words {
	border-right: none
}
.juicer-feed.slider li.feed-item.words:after {
	content: '';
	width: 1px;
	height: 100%;
	background-color: white;
	position: absolute;
	display: block;
	top: 0;
	right: 0
}
.juicer-feed.slider .slick-track {
	overflow: hidden
}
.juicer-feed.slider .slick-prev, .juicer-feed.slider .slick-next {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	position: absolute;
	border: none;
	background: none;
	cursor: pointer;
	font-size: 0;
	color: transparent;
	outline: none;
	background: rgba(58, 58, 58, 0.7);
	margin: auto 0;
	height: 90px;
	width: auto;
	top: 0;
	bottom: 0;
	line-height: 1;
	z-index: 99
}
.juicer-feed.slider .slick-prev:before, .juicer-feed.slider .slick-next:before {
	font-family: "fontawesome-webfont", Helvetica, Arial, sans-serif;
	font-size: 4rem;
	line-height: 43px;
	color: white
}
.juicer-feed.slider .slick-prev:hover:before, .juicer-feed.slider .slick-next:hover:before {
	color: #F17E6F
}
@media all and (max-width: 500px) {
	.juicer-feed.slider .slick-prev, .juicer-feed.slider .slick-next {
		height: 65px
	}
	.juicer-feed.slider .slick-prev:before, .juicer-feed.slider .slick-next:before {
		font-size: 2rem
	}
}
.juicer-feed.slider .slick-prev {
	left: 0;
	padding: 10px 15px 15px 10px
}
.juicer-feed.slider .slick-prev:before {
	content: '\f104'
}
@media all and (max-width: 500px) {
	.juicer-feed.slider .slick-prev {
		padding: 5px 7px 7px 5px
	}
}
.juicer-feed.slider .slick-next {
	right: 0;
	padding: 10px 10px 15px 15px
}
.juicer-feed.slider .slick-next:before {
	content: '\f105'
}
@media all and (max-width: 500px) {
	.juicer-feed.slider .slick-next {
		padding: 5px 5px 7px 7px
	}
}
.juicer-feed.slider.j-ie li.feed-item.image-post {
	background: transparent
}
.juicer-feed.slider.j-modern li.feed-item a.j-image img {
	-moz-transform: none;
	-ms-transform: none;
	-webkit-transform: none;
	transform: none;
	object-fit: cover
}
.juicer-feed.slider.j-ie li.feed-item a.j-image {
	background-size: cover
}
.juicer-feed.slider.j-ie li.feed-item a.j-image img {
	visibility: hidden
}
.juicer-feed.hip {
	font-family: Courier, monospace
}
.juicer-feed.hip li.feed-item {
	font-size: 14px
}
.juicer-feed.hip li.feed-item.words {
	background: #232323;
	border-color: #333
}
.juicer-feed.hip li.feed-item.words .j-meta a {
	color: #aaa
}
.juicer-feed.hip li.feed-item:hover:after {
	content: '';
	width: 100%;
	height: 2px;
	background: #F17E6F;
	display: block;
	position: absolute;
	bottom: 0
}
.juicer-feed.hip .j-meta {
	padding: 10px 15px
}
.juicer-feed.hip .j-meta nav {
	display: none
}
.juicer-feed.classic li.feed-item {
	background: white;
	min-height: 100px;
	overflow: hidden
}
.juicer-feed.classic li.feed-item img, .juicer-feed.classic li.feed-item .j-meta {
	position: absolute;
	top: 0;
	width: 100px
}
.juicer-feed.classic li.feed-item .j-meta {
	left: 0;
	margin: 0;
	height: 100%;
	text-align: center;
	padding: 30px 0 0 0
}
.juicer-feed.classic li.feed-item .j-meta a {
	color: white
}
.juicer-feed.classic li.feed-item .j-meta:before {
	content: ''
}
.juicer-feed.classic li.feed-item .j-meta nav {
	float: none;
	display: block;
	display: block;
	font-size: 1.5em
}
.juicer-feed.classic li.feed-item .j-meta ul {
	font-size: 0.75em
}
.juicer-feed.classic li.feed-item .j-meta li {
	margin: 0 10px 10px 0;
	width: auto
}
.juicer-feed.classic li.feed-item .j-meta li:last-of-type {
	margin: 0 0 10px 0
}
.juicer-feed.classic li.feed-item img {
	right: 0
}
@media all and (max-width: 500px) {
	.juicer-feed.classic li.feed-item img {
		position: relative;
		top: 6px
	}
}
.juicer-feed.classic li.feed-item .j-text {
	font-family: "Georgia", Georgia, serif;
	font-size: 1.25em;
	margin: 0 100px;
	padding: 10px 25px;
	min-height: 100px
}
.juicer-feed.classic li.feed-item .j-message {
	height: 80px;
	display: table-cell;
	vertical-align: middle
}
.juicer-feed.classic li.feed-item .j-message a {
	color: #F17E6F
}
.juicer-feed.classic li.feed-item .info {
	font-size: 0.85rem;
	color: #878787
}
.juicer-feed.classic li.feed-item .info a {
	color: #878787;
	border-bottom: 1px solid
}
.juicer-feed.classic li.feed-item .info a:hover {
	color: #F17E6F
}
.juicer-feed.living-wall {
	overflow: hidden
}
.juicer-feed.living-wall li.feed-item {
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	font-size: 0;
	overflow: hidden;
	cursor: pointer;
	position: absolute;
	z-index: 2
}
.juicer-feed.living-wall .j-icon {
	height: 100%;
	width: 100%;
	border: 1px solid white;
	text-align: center;
	padding-top: 45%;
	line-height: 16px
}
.juicer-feed.living-wall .j-icon:before {
	font-family: "fontawesome-webfont", Helvetica, Arial, sans-serif;
	font-size: 32px;
	color: white
}
.juicer-feed.living-wall img {
	max-width: 100%;
	height: auto;
	width: auto;
	min-width: 100%
}
.juicer-feed.living-wall img.landscape {
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	left: 50%;
	position: relative;
	max-width: none;
	max-height: 100%;
	height: 100%
}
.juicer-feed.living-wall ul.actions {
	font-size: 16px
}
.juicer-feed.living-wall .j-text {
	-moz-transition: opacity 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out;
	-webkit-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
	opacity: 0;
	visibility: hidden;
	background: rgba(58, 58, 58, 0.7);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 2;
	overflow: hidden;
	text-align: center
}
.juicer-feed.living-wall .j-text:before {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	content: '+';
	color: white;
	border: 3px solid white;
	width: 50px;
	height: 50px;
	font-size: 42px;
	line-height: 42px;
	display: block;
	position: absolute;
	left: 50%;
	top: 50%
}
.juicer-feed.living-wall li.feed-item:hover .j-text {
	visibility: visible;
	opacity: 1
}
.juicer-feed.living-wall h1.referral {
	position: relative;
	z-index: 3;
	background: rgba(58, 58, 58, 0.7);
	padding: 15px;
	display: inline-block;
	float: right
}
.juicer-feed.living-wall h1.referral a {
	color: white
}
.juicer-feed.modern li.feed-item {
	padding: 0
}
.juicer-feed.modern li.feed-item.words .j-message {
	font-size: 18px;
	line-height: 30px;
	padding-bottom: 10px
}
.juicer-feed.modern li.feed-item.juicer .j-poster .j-date, .juicer-feed.modern li.feed-item.juicer .j-poster h3 {
	color: white
}
.juicer-feed.modern li.feed-item.juicer .j-message {
	color: white
}
.juicer-feed.modern .j-poster {
	padding: 14px 10px 12px;
	height: auto;
	margin: 0;
	height: 56px
}
.juicer-feed.modern .j-poster img, .juicer-feed.modern .j-poster h3 {
	margin-bottom: 0
}
.juicer-feed.modern .j-poster img {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border-color: white;
	margin: 0 11px 0 0;
	height: 30px
}
.juicer-feed.modern .j-poster h3 {
	margin: 6px 0 0 0
}
.juicer-feed.modern .j-poster h3, .juicer-feed.modern .j-poster .j-date {
	font-size: 12px
}
.juicer-feed.modern .j-poster .j-date {
	margin-top: 7px
}
.juicer-feed.modern .j-image img {
	margin-bottom: 0
}
.juicer-feed.modern .j-text {
	font-size: 14px;
	padding: 20px 15px 20px 20px
}
.juicer-feed.modern .j-message {
	color: #666;
	line-height: 25px
}
.juicer-feed.polaroid li.feed-item {
	padding: 12px;
	text-align: center
}
.juicer-feed.polaroid li.feed-item.words .j-post-container {
	top: 0;
	margin-bottom: 0
}
.juicer-feed.polaroid li.feed-item.juicer .j-message {
	color: white
}
.juicer-feed.polaroid .j-image img {
	margin-bottom: 0
}
.juicer-feed.polaroid .j-post-container {
	position: relative;
	top: -32px;
	margin-bottom: -32px
}
.juicer-feed.polaroid .j-post-container.no-poster {
	top: 0;
	margin-bottom: 0;
	margin-top: 25px
}
.juicer-feed.polaroid .j-poster {
	text-align: center;
	height: auto;
	margin: 0
}
.juicer-feed.polaroid .j-poster img {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	float: none;
	width: 64px !important;
	height: 64px;
	border: 7px solid white;
	background-color: white
}
.juicer-feed.polaroid .j-poster h3, .juicer-feed.polaroid .j-poster .j-date {
	display: none
}
.juicer-feed.polaroid .j-poster-meta {
	font-size: 12px;
	color: #5c5c5c
}
.juicer-feed.polaroid .j-poster-meta a {
	text-transform: uppercase;
	font-weight: bold
}
.juicer-feed.polaroid .j-text {
	margin-top: 17px
}
.juicer-feed.polaroid .j-message {
	font-size: 13px;
	color: #5c5c5c;
	line-height: 25px
}
.juicer-feed.polaroid .j-meta ul a {
	font-size: 14px
}
.juicer-feed.polaroid .j-meta nav {
	display: none
}
.juicer-feed.night li.feed-item {
	background-color: #1f1f1f;
	color: #ccc;
	overflow: hidden
}
.juicer-feed.night li.feed-item a {
	color: #ccc
}
.juicer-feed.night li.feed-item .j-meta a {
	color: #a1a1a1
}
.juicer-feed.night li.feed-item.words .j-text {
	position: relative;
	opacity: 1;
	visibility: visible
}
.juicer-feed.night li.feed-item.words .j-message {
	font-size: 16px
}
.juicer-feed.night li.feed-item.words .j-meta a:before {
	font-size: 16px
}
.juicer-feed.night li.feed-item:hover .j-text {
	opacity: 1;
	visibility: visible
}
.juicer-feed.night .j-text-container {
	position: relative
}
.juicer-feed.night .j-text {
	-moz-transition: opacity 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out;
	-webkit-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(31, 31, 31, 0.9);
	overflow: hidden;
	padding: 25px;
	opacity: 0;
	visibility: hidden
}
.juicer-feed.night .j-message {
	font-size: 13px;
	color: #ccc
}
.juicer-feed.night .j-meta {
	font-size: 11px;
	margin-top: 15px
}
.juicer-feed.night .j-poster-meta {
	font-size: 10px;
	text-transform: uppercase;
	padding: 10px 18px 15px 18px
}
.juicer-feed.night .j-poster-meta .j-social-icon {
	background: transparent;
	font-size: 22px;
	position: relative;
	top: 5px;
	margin-right: 10px
}
.juicer-feed li.feed-item {
	position: relative;
	width: 100%;
	text-align: left;
	margin: 0;
	list-style-type: none;
	display: block
}
.juicer-feed li.feed-item:before {
	content: ''
}
.juicer-feed li.feed-item:hover ul.actions {
	visibility: visible;
	opacity: 1
}
.juicer-feed li.feed-item.j-video a.j-image {
	position: relative;
	display: block
}
.juicer-feed li.feed-item.j-video a.j-image:before {
	font-family: "fontawesome-webfont", Helvetica, Arial, sans-serif;
	font-size: 2.5rem;
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-shadow: 0px 0px 4px #999;
	content: '\f04b';
	color: white;
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 3
}
.juicer-feed li.feed-item.j-video a.j-image.playing:before {
	opacity: 0;
	content: '\f04c'
}
.juicer-feed li.feed-item.j-video a.j-image.playing:hover:before {
	opacity: 1
}
@media all and (max-width: 500px) {
	.juicer-feed li.feed-item.j-video a.j-image.playing:before {
		display: none
	}
}
.juicer-feed li.feed-item.j-video.flickr .j-image.playing:before {
	display: none
}
.juicer-feed ul.actions {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 0;
	right: 0;
	font-weight: bold;
	z-index: 4
}
.juicer-feed ul.actions li {
	padding: 5px 10px;
	cursor: pointer;
	background: rgba(241, 126, 111, 0.7);
	color: white;
	display: inline-block;
	margin-left: 1px
}
.juicer-feed ul.actions li:hover {
	background: #F17E6F
}
.juicer-feed ul.actions li.unstick-parent {
	background: rgba(242, 242, 242, 0.7);
	border: 1px solid #F17E6F
}
.juicer-feed ul.actions li.unstick-parent:hover {
	background: #F2F2F2
}
.juicer-feed ul.actions li .unstick {
	color: #F17E6F
}
.juicer-feed ul.actions li.approve span, .juicer-feed ul.actions li.reject span {
	font-size: 16px
}
.juicer-feed ul.actions li.approve {
	background: rgba(85, 193, 189, 0.7)
}
.juicer-feed ul.actions li.approve:hover {
	background: #55C1BD
}
.juicer-feed ul.actions li span:before {
	font-family: "fontawesome-webfont", Helvetica, Arial, sans-serif;
	font-size: 16px
}
.juicer-feed ul.actions span {
	font-size: 0
}
.juicer-feed .delete:before {
	content: '\f014'
}
.juicer-feed .restore:before {
	content: '\f0e2'
}
.juicer-feed .sticky:before {
	content: '\F08D'
}
.juicer-feed .unstick:before {
	content: '\F08D'
}
.juicer-feed .edit:before {
	content: '\f040'
}
.juicer-feed .j-meta {
	margin-top: 25px
}
.juicer-feed .j-meta a {
	color: #bababa
}
.juicer-feed .j-meta a:hover {
	color: #F17E6F
}
.juicer-feed .j-meta ul {
	display: inline-block;
	width: auto !important;
	padding: 0;
	margin: 0;
	font-size: 1em;
	line-height: 1em;
	float: none
}
.juicer-feed .j-meta li {
	display: inline-block;
	margin: 0 10px 0 0;
	padding: 0;
	background-image: none;
	border: none;
	font-size: 1em;
	font-weight: normal;
	height: auto;
	width: auto
}
.juicer-feed .j-meta li:last-of-type {
	margin-right: 0
}
.juicer-feed .j-meta nav {
	display: inline-block;
	float: right;
	border: none;
	background: transparent;
	position: relative;
	width: auto;
	height: auto
}
.juicer-feed .j-meta a {
	background: transparent;
	width: auto;
	height: auto;
	float: none
}
.juicer-feed .j-meta a span {
	display: none
}
.juicer-feed .j-meta a.j-social {
	font-size: 1.5em;
	line-height: 1;
	float: none;
	margin: 0
}
.juicer-feed .j-meta a:before {
	font-family: "fontawesome-webfont", Helvetica, Arial, sans-serif;
	font-size: 1em;
	margin-right: 5px
}
.juicer-feed .j-meta a.comments:before {
	content: '\f086'
}
.juicer-feed .j-meta a.likes:before {
	content: '\f164'
}
.juicer-feed .j-meta a.retweets:before {
	content: '\f079'
}
.juicer-feed .j-meta a.repins:before {
	content: '\f08d'
}
.juicer-feed .j-meta a.views:before {
	content: '\f06e'
}
.juicer-feed .j-meta a.heart:before {
	content: '\f004'
}
.juicer-feed .empty {
	padding: 250px 0;
	text-align: center
}
.juicer-feed .empty h2 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.5rem;
	font-weight: bold
}
.juicer-feed .empty a {
	color: #F17E6F
}
.juicer-feed a {
	-moz-transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
	color: #3A3A3A
}
.juicer-feed a:hover {
	color: #F17E6F
}
.juicer-feed .video-wrapper, .juicer-feed .vine-wrapper, .juicer-feed .instagram-wrapper, .juicer-feed .twitter-wrapper {
	position: relative
}
.juicer-feed .video-wrapper iframe, .juicer-feed .video-wrapper video, .juicer-feed .video-wrapper embed, .juicer-feed .vine-wrapper iframe, .juicer-feed .vine-wrapper video, .juicer-feed .vine-wrapper embed, .juicer-feed .instagram-wrapper iframe, .juicer-feed .instagram-wrapper video, .juicer-feed .instagram-wrapper embed, .juicer-feed .twitter-wrapper iframe, .juicer-feed .twitter-wrapper video, .juicer-feed .twitter-wrapper embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000
}
.juicer-feed .video-wrapper {
	padding-bottom: 56.25%
}
.juicer-feed .vine-wrapper, .juicer-feed .instagram-wrapper, .juicer-feed .twitter-wrapper {
	padding-bottom: 100%
}
.juicer-feed hr {
	display: none
}
.juicer-feed .j-title {
	font-weight: bold
}
.j-poster {
	overflow: hidden;
	*zoom: 1;
	margin: 0 0 10px 0;
	height: 30px
}
.j-poster img {
	float: left;
	width: 30px !important;
	margin: 0 7px 0 0;
	padding: 0
}
.j-poster a {
	color: #3A3A3A
}
.j-poster a:hover {
	color: #F17E6F
}
.j-poster h3 {
	float: left;
	margin: 4px 0 0 0;
	padding: 0;
	font-size: 14px;
	font-weight: bold;
	max-width: 67%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	clear: none;
	color: #3A3A3A;
	line-height: 20px
}
.j-poster .j-date {
	float: right;
	font-size: 14px;
	margin-top: 4px;
	color: #a0a0a0
}
.j-edit span {
	display: block;
	font-size: 0.85rem;
	color: #a0a0a0
}
.j-post-overlay.juicer-feed {
	overflow: hidden;
	*zoom: 1;
	margin: 0 !important
}
.j-post-overlay.juicer-feed .image {
	float: left;
	max-width: 50%
}
.j-post-overlay.juicer-feed .vine-wrapper, .j-post-overlay.juicer-feed .instagram-wrapper, .j-post-overlay.juicer-feed .twitter-wrapper, .j-post-overlay.juicer-feed .video-wrapper {
	float: left;
	width: 50%;
	padding-bottom: 50%
}
.j-post-overlay.juicer-feed .image img {
	margin-bottom: 0 !important;
	display: block;
	width: 100%
}
.j-post-overlay.juicer-feed .j-overlay-text {
	overflow: hidden;
	padding: 25px
}
.j-post-overlay.juicer-feed .j-overlay-text .j-message, .j-post-overlay.juicer-feed .j-overlay-text .j-edit {
	margin-bottom: 25px;
	text-align: left
}
.j-post-overlay.juicer-feed .j-overlay-text .j-message a, .j-post-overlay.juicer-feed .j-overlay-text .j-edit a {
	font-weight: bold
}
.j-post-overlay.juicer-feed .j-overlay-text.words .j-message {
	font-family: 'Georgia', sans-serif;
	font-size: 24px
}
.j-post-overlay.juicer-feed .j-bottom {
	overflow: hidden;
	*zoom: 1
}
.j-post-overlay.juicer-feed .j-meta {
	margin: 15px 0 30px
}
.j-post-overlay.juicer-feed .j-meta nav {
	display: none
}
.j-post-overlay.juicer-feed a.juicer-button {
	float: left;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	display: inline-block;
	border: 2px solid #F17E6F;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 0.5px;
	color: #F17E6F;
	text-align: center;
	padding: 12px 0 10px;
	cursor: pointer;
	background-color: transparent;
	padding: 12px 35px 14px
}
.j-post-overlay.juicer-feed a.juicer-button:hover {
	background: #F17E6F;
	color: #F2F2F2
}
.j-post-overlay.juicer-feed a.juicer-button:before {
	font-family: "fontawesome-webfont", Helvetica, Arial, sans-serif;
	font-size: 1rem;
	position: relative;
	left: -10px;
	top: 1px;
	font-weight: normal
}
@media all and (max-width: 1190px) {
	.j-post-overlay.juicer-feed a.juicer-button {
		margin-bottom: 10px
	}
}
.j-post-overlay.juicer-feed ul.j-share {
	float: right;
	margin-top: 10px
}
.j-post-overlay.juicer-feed ul.j-share li {
	display: inline-block
}
.j-post-overlay.juicer-feed ul.j-share a {
	font-size: 0;
	color: transparent;
	display: inline-block;
	width: 33px;
	padding: 5px;
	text-align: center
}
.j-post-overlay.juicer-feed ul.j-share a:before {
	font-family: "fontawesome-webfont", Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: white;
	position: relative;
	top: 1px
}
.j-post-overlay.juicer-feed ul.j-share a.googleplus:before {
	left: 0
}
@media all and (max-width: 1190px) {
	.j-post-overlay.juicer-feed ul.j-share {
		float: none;
		display: block;
		clear: left
	}
}
.j-post-overlay.juicer-feed .j-navigate {
	position: absolute;
	bottom: 5px;
	right: 5px
}
.j-post-overlay.juicer-feed .j-navigate a.j-previous, .j-post-overlay.juicer-feed .j-navigate a.j-next {
	cursor: pointer;
	color: #bababa
}
.j-post-overlay.juicer-feed .j-navigate a.j-previous span, .j-post-overlay.juicer-feed .j-navigate a.j-next span {
	display: none
}
.j-post-overlay.juicer-feed .j-navigate a.j-previous:before, .j-post-overlay.juicer-feed .j-navigate a.j-next:before {
	font-family: "fontawesome-webfont", Helvetica, Arial, sans-serif;
	font-size: 16px
}
.j-post-overlay.juicer-feed .j-navigate a.j-previous {
	margin-right: 5px
}
.j-post-overlay.juicer-feed .j-navigate a.j-previous:before {
	content: '\f053'
}
.j-post-overlay.juicer-feed .j-navigate a.j-next:before {
	content: '\f054'
}
@media all and (max-width: 800px) {
	.j-post-overlay.juicer-feed .image {
		float: none;
		display: block;
		max-width: 100%
	}
	.j-post-overlay.juicer-feed .vine-wrapper, .j-post-overlay.juicer-feed .instagram-wrapper, .j-post-overlay.juicer-feed .twitter-wrapper, .j-post-overlay.juicer-feed .video-wrapper {
		float: none;
		display: block;
		width: 100%;
		padding-bottom: 100%
	}
	.j-post-overlay.juicer-feed ul.j-share {
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0
	}
}
.juicer-feed.image-grid .j-post-overlay .j-meta, .juicer-feed.slider .j-post-overlay .j-meta {
	margin: 0 0 15px 0;
	padding: 0;
	position: relative
}
.j-overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	padding-top: 50px;
	z-index: 99999999;
	outline: none
}
.j-overlay .j-overlay-content {
	margin: 0 auto;
	background: white;
	position: relative;
	color: #3A3A3A;
	font-weight: normal;
	max-height: 90%;
	overflow-y: auto;
	outline: none;
	max-width: 980px
}
.j-overlay .j-overlay-content h2 {
	margin-bottom: 1.5rem
}
@media all and (max-width: 800px) {
	.j-overlay .j-overlay-content {
		width: 95% !important
	}
}
.j-overlay .facebook-warning {
	color: #F17E6F;
	margin-bottom: 40px
}
.j-overlay .facebook-warning strong {
	text-decoration: underline;
	font-style: italic
}
.j-overlay .facebook-warning a {
	color: #F17E6F;
	text-decoration: underline
}
.j-overlay .j-close {
	height: 12px;
	width: 12px;
	background-position: 100% -32px;
	cursor: pointer;
	position: absolute;
	top: 4px;
	right: 4px;
	z-index: 3;
	text-align: right;
	padding: 15px
}
.j-overlay .j-close:hover {
	background-position: 100% 0
}
.j-overlay .j-close span {
	display: none
}
.juicer-feed .slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent
}
.juicer-feed .slick-list {
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0
}
.juicer-feed .slick-list:focus {
	outline: none
}
.juicer-feed .slick-list.dragging {
	cursor: pointer;
	cursor: hand
}
.juicer-feed .slick-slider .slick-track, .juicer-feed .slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}
.juicer-feed .slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block
}
.juicer-feed .slick-track:before, .juicer-feed .slick-track:after {
	content: "";
	display: table
}
.juicer-feed .slick-track:after {
	clear: both
}
.slick-loading .juicer-feed .slick-track {
	visibility: hidden
}
.juicer-feed .slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	display: none
}
[dir="rtl"] .juicer-feed .slick-slide {
	float: right
}
.juicer-feed .slick-slide img {
	display: block
}
.juicer-feed .slick-slide.slick-loading img {
	display: none
}
.juicer-feed .slick-slide.dragging img {
	pointer-events: none
}
.slick-initialized .juicer-feed .slick-slide {
	display: block
}
.slick-loading .juicer-feed .slick-slide {
	visibility: hidden
}
.slick-vertical .juicer-feed .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent
}
.juicer-feed .j-facebook {
	background: #3B5998
}
.juicer-feed .j-facebook:before {
	content: ""
}
.juicer-feed .j-facebook-border {
	border-color: #3B5998
}
.juicer-feed .j-facebook-text {
	color: #3B5998;
	background: transparent
}
.juicer-feed .j-facebook-text:before {
	color: #3B5998
}
.juicer-feed .j-twitter {
	background: #55ACEE
}
.juicer-feed .j-twitter:before {
	content: ""
}
.juicer-feed .j-twitter-border {
	border-color: #55ACEE
}
.juicer-feed .j-twitter-text {
	color: #55ACEE;
	background: transparent
}
.juicer-feed .j-twitter-text:before {
	color: #55ACEE
}
.juicer-feed .j-instagram {
	background: #3F729B
}
.juicer-feed .j-instagram:before {
	content: ""
}
.juicer-feed .j-instagram-border {
	border-color: #3F729B
}
.juicer-feed .j-instagram-text {
	color: #3F729B;
	background: transparent
}
.juicer-feed .j-instagram-text:before {
	color: #3F729B
}
.juicer-feed .j-youtube {
	background: #CC181E
}
.juicer-feed .j-youtube:before {
	content: ""
}
.juicer-feed .j-youtube-border {
	border-color: #CC181E
}
.juicer-feed .j-youtube-text {
	color: #CC181E;
	background: transparent
}
.juicer-feed .j-youtube-text:before {
	color: #CC181E
}
.juicer-feed .j-tumblr {
	background: #375471
}
.juicer-feed .j-tumblr:before {
	content: ""
}
.juicer-feed .j-tumblr-border {
	border-color: #375471
}
.juicer-feed .j-tumblr-text {
	color: #375471;
	background: transparent
}
.juicer-feed .j-tumblr-text:before {
	color: #375471
}
.juicer-feed .j-googleplus {
	background: #DD4B39
}
.juicer-feed .j-googleplus:before {
	content: ""
}
.juicer-feed .j-googleplus-border {
	border-color: #DD4B39
}
.juicer-feed .j-googleplus-text {
	color: #DD4B39;
	background: transparent
}
.juicer-feed .j-googleplus-text:before {
	color: #DD4B39
}
.juicer-feed .j-pinterest {
	background: #CB2028
}
.juicer-feed .j-pinterest:before {
	content: ""
}
.juicer-feed .j-pinterest-border {
	border-color: #CB2028
}
.juicer-feed .j-pinterest-text {
	color: #CB2028;
	background: transparent
}
.juicer-feed .j-pinterest-text:before {
	color: #CB2028
}
.juicer-feed .j-blog {
	background: #FF6600
}
.juicer-feed .j-blog:before {
	content: ""
}
.juicer-feed .j-blog-border {
	border-color: #FF6600
}
.juicer-feed .j-blog-text {
	color: #FF6600;
	background: transparent
}
.juicer-feed .j-blog-text:before {
	color: #FF6600
}
.juicer-feed .j-vine {
	background: #00BF8F
}
.juicer-feed .j-vine:before {
	content: ""
}
.juicer-feed .j-vine-border {
	border-color: #00BF8F
}
.juicer-feed .j-vine-text {
	color: #00BF8F;
	background: transparent
}
.juicer-feed .j-vine-text:before {
	color: #00BF8F
}
.juicer-feed .j-soundcloud {
	background: #f30
}
.juicer-feed .j-soundcloud:before {
	content: ""
}
.juicer-feed .j-soundcloud-border {
	border-color: #f30
}
.juicer-feed .j-soundcloud-text {
	color: #f30;
	background: transparent
}
.juicer-feed .j-soundcloud-text:before {
	color: #f30
}
.juicer-feed .j-linkedin {
	background: #007bb6
}
.juicer-feed .j-linkedin:before {
	content: ""
}
.juicer-feed .j-linkedin-border {
	border-color: #007bb6
}
.juicer-feed .j-linkedin-text {
	color: #007bb6;
	background: transparent
}
.juicer-feed .j-linkedin-text:before {
	color: #007bb6
}
.juicer-feed .j-flickr {
	background: #ff0084
}
.juicer-feed .j-flickr:before {
	content: ""
}
.juicer-feed .j-flickr-border {
	border-color: #ff0084
}
.juicer-feed .j-flickr-text {
	color: #ff0084;
	background: transparent
}
.juicer-feed .j-flickr-text:before {
	color: #ff0084
}
.juicer-feed .j-vimeo {
	background: #1AB7EA
}
.juicer-feed .j-vimeo:before {
	content: ""
}
.juicer-feed .j-vimeo-border {
	border-color: #1AB7EA
}
.juicer-feed .j-vimeo-text {
	color: #1AB7EA;
	background: transparent
}
.juicer-feed .j-vimeo-text:before {
	color: #1AB7EA
}
.juicer-feed .j-hashtag {
	background: #F17E6F
}
.juicer-feed .j-hashtag:before {
	content: ""
}
.juicer-feed .j-hashtag-border {
	border-color: #F17E6F
}
.juicer-feed .j-hashtag-text {
	color: #F17E6F;
	background: transparent
}
.juicer-feed .j-hashtag-text:before {
	color: #F17E6F
}
.juicer-feed .j-yelp {
	background: #C41200
}
.juicer-feed .j-yelp:before {
	content: ""
}
.juicer-feed .j-yelp-border {
	border-color: #C41200
}
.juicer-feed .j-yelp-text {
	color: #C41200;
	background: transparent
}
.juicer-feed .j-yelp-text:before {
	color: #C41200
}
.juicer-feed .j-deviantart {
	background: #05cc47
}
.juicer-feed .j-deviantart:before {
	content: ""
}
.juicer-feed .j-deviantart-border {
	border-color: #05cc47
}
.juicer-feed .j-deviantart-text {
	color: #05cc47;
	background: transparent
}
.juicer-feed .j-deviantart-text:before {
	color: #05cc47
}
.juicer-feed .j-email {
	background: #F17E6F
}
.juicer-feed .j-email:before {
	content: ""
}
.juicer-feed .j-email-border {
	border-color: #F17E6F
}
.juicer-feed .j-email-text {
	color: #F17E6F;
	background: transparent
}
.juicer-feed .j-email-text:before {
	color: #F17E6F
}
.juicer-feed .j-slack {
	background: #6ecadc
}
.juicer-feed .j-slack:before {
	content: ""
}
.juicer-feed .j-slack-border {
	border-color: #6ecadc
}
.juicer-feed .j-slack-text {
	color: #6ecadc;
	background: transparent
}
.juicer-feed .j-slack-text:before {
	color: #6ecadc
}
.juicer-feed .j-spotify {
	background: #1ed760
}
.juicer-feed .j-spotify:before {
	content: ""
}
.juicer-feed .j-spotify-border {
	border-color: #1ed760
}
.juicer-feed .j-spotify-text {
	color: #1ed760;
	background: transparent
}
.juicer-feed .j-spotify-text:before {
	color: #1ed760
}
.juicer-feed .j-soundcloud:before {
	position: relative;
	left: -4px
}
.juicer-feed .j-googleplus:before {
	position: relative;
	left: -0.15em
}
.juicer-feed .j-hashtag:before {
	-moz-transform: rotate(19deg);
	-ms-transform: rotate(19deg);
	-webkit-transform: rotate(19deg);
	transform: rotate(19deg);
	position: relative;
	left: -2px
}
.juicer-feed .j-juicer:before {
	content: url(//assets.juicer.io/small-square-a2405de4d5c67c4ed91459e03047ffb7.png)
}
.juicer-feed .j-email:before {
	position: relative;
	top: -1px !important
}
.juicer-feed .j-social-icon:before {
	font-family: 'fontawesome-webfont'
}

.j-poster-meta{
  color: white;
  background:
url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAYAAAAe2bNZAAAABGdBTUEAALGPC/xhBQAAAK1JREFUWAnN2EkKwDAIBdDk5O3NbS0ESpvR6UcQv7vn1pQ2KSI6t6Aw5G6CYwoEjnlDoJgvBIapQSCYFiQc04OEYkaQMMwMJAQzC3HHrEBcMasQN4wE4oKRQswxGogpRgsxw1hATDBWEDXGEqLCWEPEGA+ICOMFWcZ4QpYw3pBpTARkChMFGWIiIV1MNKSJQUCqGBTkh0FCGJPLG4Ihdz7KjpgPZgcIH593gTDmAnmbNFDncTTqAAAAAElFTkSuQmCC
)  no-repeat
   right bottom;
 padding: 0;

    background-color: $gray-dark;
}
