@media all {
    .featherlight {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2147483647;
        text-align: center;
        white-space: nowrap;
        cursor: pointer;
        background: rgba(0,0,0,0);
        overflow: hidden;
    }

    .featherlight:last-of-type {
       background: rgba(0,0,0,.8);
    }

    .featherlight:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }

    .featherlight .featherlight-content {
        position: relative;
        text-align: left;
        vertical-align: middle;
        display: inline-block;
        overflow: hidden;
        padding: 25px 25px 0;
        border-bottom: 25px solid transparent;
        margin-left: 5%;
        margin-right: 5%;
        max-height: 95%;
        cursor: auto;
        white-space: normal;
    }

    .featherlight .featherlight-inner {
        display: block;
    }

    .featherlight .featherlight-close-icon {
        position: absolute;
        z-index: 9999;
        top: 0;
        right: 0;
        line-height: 25px;
        width: 25px;
        cursor: pointer;
        text-align: center;
        font-family: FontAwesome;
        font-size: 24px;
        content: "\f00d";
        background: rgba(0,0,0,0);
        color: #fff;
        border: 0;
        padding: 0;
    }

    .featherlight .featherlight-close-icon::-moz-focus-inner {
        border: 0;
        padding: 0;
    }

    .featherlight .featherlight-image {
        width: 100%;
    }

    .featherlight-iframe .featherlight-content {
        border-bottom: 0;
        padding: 0;
        -webkit-overflow-scrolling: touch;
        overflow-y: scroll;
    }

    .featherlight iframe {
        border: 0;
    }

    .featherlight * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}
@media only screen and (max-width:1024px) {
    .featherlight .featherlight-content {
        margin-left: 0;
        margin-right: 0;
        max-height: 98%;
        padding: 10px 10px 0;
        border-bottom: 10px solid transparent;
    }
}

.featherlight {
    .headerbox {
        display: block;
    }

    .triangle-bottomright {
        border-bottom: 35px solid $gray-dark;
    }
}

.featherlight-previous, .featherlight-next{
  background: red;
  color: white;
}
