.history {
    padding-right: 20px;

    .item {
        border-bottom: 1px solid black;
        margin-bottom: 5px;
    }

    .item:last-child {
        border-bottom: none;
    }
}

.media {
    padding-right: 20px;

    .item {
        border-bottom: 1px solid black;
        margin-bottom: 10px;
        padding-bottom: 10px;

        span.date {
            display: block;
        }

        a {
            color: black;
        }

        a.pdf {
            color: $red;
        }
    }

    .item:last-child {
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

.has-border-top {
    border-top: 1px solid black;
}

.organigramm {
    .item {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
}

.download-image {
    position: relative;
    display: block;

    i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 36px;
        color: white;
        opacity: 0;
        -webkit-transition: opacity 0.3s ease-in-out;
        -moz-transition: opacity 0.3s ease-in-out;
        -ms-transition: opacity 0.3s ease-in-out;
        -o-transition: opacity 0.3s ease-in-out;
        transition: opacity 0.3s ease-in-out;
    }

    &:hover {
        i {
            opacity: 1;
        }
    }
}

.thumbnail {
    padding: 0;
    margin-bottom: 0;
    line-height: 1.5;
    background-color: #fff;
    border: 0 solid #ddd;
    border-radius: 0;
}
