$phone-sm: 320px;
$phone-lg: 425px;
$tablet: 768px;
$collapse-breakpoint: 992px;
$desktop-md: 1024px;
$desktop-lg: 1200px;

@mixin phone-sm {
  @media (min-width: #{$phone-sm}) and (max-width: #{$phone-lg - 1px}) {
    @content;
  }
}

@mixin phone-lg {
  @media (min-width: #{$phone-lg}) and (max-width: #{$tablet - 1px}) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: #{$phone-lg}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet}) and (max-width: #{$desktop-md - 1px}) {
    @content;
  }
}

@mixin desktop-md {
  @media (min-width: #{$desktop-md}) {
    @content;
  }
}

@mixin desktop-lg {
  @media (min-width: #{$desktop-lg }) {
    @content;
  }
}

@mixin collapsed{
  @media (#{$collapse-breakpoint} - 1px) {
    @content;
  }
}

@mixin expanded{
  @media ($collapse-breakpoint) {
    @content;
  }
}


/*
p {
  font-size: 16px;

  @include tablet {
    font-size: 18px;
  }

  @include desktop {
    font-size: 20px;
  }
}
*/




@mixin breakpoint($minWidth: 0, $maxWidth: 0, $minHeight: 0, $maxHeight: 0) {
  $type: type-of($minWidth);

  @if $type == string {
  	$class: $minWidth;

    @if $class == xs {
	    @media (max-width: 767px) { @content; }
	  }

	  @else if $class == sm {
	    @media (min-width: 768px) { @content; }
	  }

	  @else if $class == md {
	    @media (min-width: 992px) { @content; }
	  }

	  @else if $class == lg {
	    @media (min-width: 1200px) { @content; }
	  }

	  @else {
	    @warn "Breakpoint mixin supports: xs, sm, md, lg";
	  }
  }
  @else if $type == number {
	  $widthQuery: "all" !default;

	  // width
	  @if $minWidth != 0 and $maxWidth != 0 {
	    $widthQuery: "(min-width: #{$minWidth}) and (max-width: #{$maxWidth})";
	  }
	  @else if $minWidth != 0 and $maxWidth == 0 {
	    $widthQuery: "(min-width: #{$minWidth})";
	  }
	  @else if $minWidth == 0 and $maxWidth != 0 {
	    $widthQuery: "(max-width: #{$maxWidth})";
	  }

	  // height
	  $heightQuery: 0;
	  @if $minHeight != 0 and $maxHeight != 0 {
	    $heightQuery: "(min-height: #{$minHeight}) and (max-height: #{$maxHeight})";
	  }
	  @else if $minHeight != 0 and $maxHeight == 0 {
	    $heightQuery: "(min-height: #{$minHeight})";
	  }
	  @else if $minHeight == 0 and $maxHeight != 0 {
	    $heightQuery: "(max-height: #{$maxHeight})";
	  }

	  @if $minHeight != 0{
		  @media #{$widthQuery} and #{$heightQuery} {
		    @content;
		  }
		}
	  @else if $maxHeight != 0{
		  @media #{$widthQuery} and #{$heightQuery} {
		    @content;
		  }
	  }
	  @else if $minHeight != 0 and $maxHeight != 0{
		  @media #{$widthQuery} and #{$heightQuery} {
		    @content;
		  }
	  }
	  @else {
		  @media #{$widthQuery} {
		    @content;
		  }
		}

  }
}
