@media all {
    .modal-content {
        border: 0;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;

        button.close {
            position: absolute;
            top: -25px;
            right: 0;
            background: transparent;
            opacity: 1;
            color: white;
            text-shadow: none;
        }
    }

    .modal-header {
        padding: 0;

        .content {
            margin: 0;

            .triangle-bottomright {
                border-bottom: 35px solid $gray-dark;
            }
        }

        h2 {
            position: absolute;
            margin: 10px;
        }
    }

    .modal-body {
        background: $gray-light;
        border-top: 10px solid $gray-dark;
        padding: 0;

        .content {
            margin-right: 0;
            .box-content{
              .row{
                & div[class*=col]:nth-of-type(2){
                  padding: 0 10px
                }
              }

            }
        }

        .triangle-bottomright {
            border-bottom: 35px solid $gray-dark;
        }
    }

    .modal-footer {
        background: $gray-dark;
        padding: 0;
        & a.btn{
          color: white;
          padding: 20px;

          &.right{
            padding-right: 0;
          }
          &.left{
            padding-left: 0;
          }
        }

    }
}


@include breakpoint($maxWidth: 768px) {
#myModal{
  padding-top: 30px;
}

}
