.navbar i {
    margin: 0 5px;
}

.navbar-toggle {
    margin-top: 0;
}

#navbar {
    background: $gray;
    font-weight: bold;
    color: white;
}

.navbar {
    padding-top: 10px;
    margin-bottom: 0;

    ul.navbar-nav {
        > li {
            > a {
                padding-top: 5px;
                padding-bottom: 5px;
                margin-bottom: 0;
                font-weight: bold;
                color: white;
                text-align: left;
                transition: background 0.5s ease;

                &:hover {
                    background: $gray-dark;
                }
            }

            &.dropdown {
                ul.dropdown-menu {
                    color: white;
                    margin: 0;
                    width: 100%;
                    background-color: $gray;
                    background-clip: border-box;
                    border: 4px solid $gray!important;
                    border-radius: 0;
                    box-shadow: none;
                    color: white;
                    margin: 0;

                    > li {
                        > a {
                            color: white;
                        }
                    }
                }
            }
        }
    }
}

.navbar-header {
    height: 70px;
    margin: 0;
}

.navbar-brand {
    padding: 0;
}

.navbar-nav > li > a {
    @include breakpoint($minWidth: 776px, $maxWidth: 1199px) {
        padding-right: 5px;
        padding-left: 5px;
    }
}

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
    background-color: $gray;
    border-color: #fff;
}

.navbar-toggle .icon-bar {
    background-color: $gray-dark;
}

.navbar-nav > .active > a,
.navbar-nav > .active > a:focus,
.navbar-nav > .active > a:hover {
    background-color: #ddd;
}
@media (min-width: 992px) {
    ul.navbar-nav {
        max-height: 52px;
        display: table;
        width: 100%;

        > li {
            display: table-cell;
            width: 20%;

            > a {
                border-left: 1px solid #fff;
            }
        }

        > li:first-child > a {
            border-left: 0;
        }

        > li:last-child > a {
            border-right: 0;
        }
    }
}
@media only screen and (max-width : 992px) {
    .navbar-toggle {
        z-index: 600;

        &.is-open {
            margin-top: -5px;

            .icon-bar {
                background-color: white;
            }
        }
    }

    .navbar-offcanvas {
        padding-top: 20px;
        z-index: 500;
    }

    ul.navbar-nav {
        padding-right: 20px;

        li {
            a {
                line-height: 2em;
            }
        }
    }

    .navbar-nav > .active > a,
    .navbar-nav > .active > a:focus,
    .navbar-nav > .active > a:hover {
        background-color: $gray;
    }

    ul.dropdown-menu {
        li {
            border: 0;
            margin-left: 40px;

            a {
                font-weight: normal;
                line-height: 1.5em;

                &:focus,
                &:hover {
                    background-color: $gray;
                    color: white;
                }
            }
        }
    }

    i {
        width: 30px;
        text-align: center;
    }
}
@media (max-width: 992px) {
    .nav-tabs.navbar-nav > li > a,
    .navbar-nav > li > a {
        border: 0;
    }

    li.dropdown {
        display: inline-block;
        width: 100%;
    }
}
@include breakpoint($minWidth: 991px) {
    .hidden-expand {
        display: none!important;
    }
    // Hover/Focus state
    .dropdown-menu > li > a {
        &:focus,
        &:hover {
            text-decoration: none;
            color: white;
            background-color: $gray-dark;
        }
    }
}
@include breakpoint($maxWidth: 991px) {
    .hidden-collapse {
        display: none!important;
    }

    .nav {
        li.dropdown {
            border-top: 1px solid white;

            &:first-of-type {
                border: 0;
            }
        }
    }
}

i.fa.fa-mobile-phone {
    font: 118px;
}

@include breakpoint($minWidth: 991px) {


@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

ul.navbar-nav:hover {
    ul.dropdown-menu {
        opacity: 1;
        -webkit-animation: fadeIn 0.7s;
        animation: fadeIn 0.7s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
}

}
