h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  //color:$gray-darker;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
}

h1 a{
  color: $gray-dark;
  text-decoration: none;
}

h1 a::after{
content:"\f105";
font-family: FontAwesome;
padding-left: 5px;

}

h1 a:hover{
  text-decoration: none;
  color: white;
}


/*Link color*/

a.redlink{
  color: $red;
  font-weight: bold;
}

a.redlink:hover, a.red-link:focus{
  color: $gray-dark;
  text-decoration: none;
}

a.redlink::after{
  content:"\f105";
  font-family: FontAwesome;
padding-left: 5px;
}

a.pdf::before{
  content:"\f1c1";
  font-family: FontAwesome;
  margin-right: 5px;

}
a.pdf{
  color: $red;
  font-weight: bold;
}
a.pdf:hover{
  color: $gray-dark;
  text-decoration: none;
}


.big{
  font-size:2.8rem;
  font-weight: bold;
  line-height: 2.8rem;
}

.red{
  color: $red;
}

/*SZU LOGO ICON FONT*/
/* HTML ENTITY : &#xe900;
use: <span class="icon-svg-logo"></span>
*/

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/szu/icomoon.eot?y2wg84');
  src:  url('../fonts/szu/icomoon.eot?y2wg84#iefix') format('embedded-opentype'),
    url('../fonts/szu/icomoon.ttf?y2wg84') format('truetype'),
    url('../fonts/szu/icomoon.woff?y2wg84') format('woff'),
    url('../fonts/szu/icomoon.svg?y2wg84#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-svg-logo:before {
  content: "\e900";
}

.icon-Fundgegenstaende:before {
  content: "\e912";
}



.meldungen {
  font-size: 18px;
}

a.download{
  color: $red;
  font-weight: bold;
}


.info-table > *{
  vertical-align: top;
}
