<!-- Box -->
<div class="col-md-4 col-sm-6 col-xs-12">
    <div class="content bg-gray eqh">
        <div class="box-content">
            <h2>Aktuelle Verkehrsmeldungen</h2>
            <div class="col-md-4 has-border-top">
                <b>afasdf asdf asdfa sdfasdf</b>
                <ul>
                    <li>Benutzung des öffentlichen Verkehrs (Albis–Tageskarte, 24h gültig in den Zonen 110, 150, 151, 154, 155)</li>


                    <li>Benutzung des öffentlichen Verkehrs (Albis–Tageskarte, 24h gültig in den Zonen 110, 150, 151, 154, 155)</li>


                    <li>Benutzung des öffentlichen Verkehrs (Albis–Tageskarte, 24h gültig in den Zonen 110, 150, 151, 154, 155)</li>
                </ul>
            </div>
        </div>
        <div class="triangle-bottomright"></div>
    </div>
</div>
<!-- /Box -->

<div class="content headerbox">
    <div class="headerbox">
        <h3>Gruppenangebote</h3>
        <img src="//placehold.it/1200x350" class="img-responsive">
    </div>
    <div class="triangle-bottomright"></div>
</div>



<div class="divider">
    <hr class="trennlinie">
    <i class="fa fa-caret-down"></i> <small>Content Section Title</small>
</div>